
    
    <div class="main casting_inner notifications">
        <div class="mainHeader">
            <div class="top_header">
                <div class="arrowLeft" (click)="back()">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </div>
                <div class="logo middle">
                    <label>Notifications</label>
                </div>
                <div class="lats_side">
                    <div class="avtars">
                            <a [routerLink]="['/home']">
                                <img src="assets/img/img/homeIcon.webp" alt="avatar" class="rounded">
                            </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="main_wrppers">
            <div class="notification_area">
                <div class="notificationDiv" *ngFor="let data of resData">
                    <div class="notificationDivs">
                        <p>{{data.title}}<br>
                        {{data.message}}</p>
                        <a [routerLink]="[data.link]">
                            <!-- <i class="fa fa-long-arrow-right" aria-hidden="true"></i> -->
                            <img src="assets/img/img/downArrow.webp" alt="" class="lightMode">
                            <img src="assets/img/img/white_arrow_down.webp" alt="" class="darkMode">
                        </a>
                    </div>
                    <span>{{data.created_at}}</span>
                </div>
                <div *ngIf="dataLength <= 0">
                    <app-not-found-data ></app-not-found-data>
                </div>
            </div>
        </div>
    </div>