<!-- sidebars -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarPanel">
    <div class="offcanvas-body">
        <!-- profile box -->
        <div class="profileBox">
            <div class="image-wrapper">
                <img *ngIf="this.data.profile_pic == '' || this.data.profile_pic == null " src="assets/img/sample/avatar/avatar1.jpg" alt="image" class="imaged rounded">
                <img *ngIf="this.data.profile_pic != null " src="{{baseUrl}}{{this.data.profile_pic_path}}{{this.data.profile_pic}}" alt="image" class="imaged rounded">
            </div>
            <div class="in">
                <strong>Hello {{currentUser.userDetails.name}} <!DOCTYPE html></strong>
            </div>
            <a class="close-sidebar-button" #closebutton (click)="closeSide()" data-bs-dismiss="offcanvas">
                <ion-icon name="close"></ion-icon>
            </a>
        </div>
        <!-- * profile box -->

        <ul class="listview flush transparent no-line image-listview mt-2">
            <li>
                <a [routerLink]="['/my-applications']" (click)="sideBarClose()" class="item">
                    <div class="in">
                        My Applications
                    </div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/notification']" (click)="sideBarClose()"  class="item">
                    <div class="in">
                        Notifications
                    </div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/workshop/2']" (click)="sideBarClose()" class="item">
                    <div class="in">
                        <div>Upcoming Workshop</div>
                    </div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/training']" (click)="sideBarClose()" class="item">
                    <div class="in">
                        <div>Training Sessions</div>
                    </div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/bookmark']" (click)="sideBarClose()" class="item">
                    <div class="in">
                        <div>Bookmark</div>
                    </div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/bts']" (click)="sideBarClose()" class="item">
                    <div class="in">
                        <div>BTS</div>
                    </div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/bts-inner/5']" (click)="sideBarClose()" class="item">
                    <div class="in">
                        <div>Celeb Videos</div>
                    </div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/games']" (click)="sideBarClose()" class="item">
                    <div class="in">
                        <div>Games</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="page-chat.html" (click)="sideBarClose()" class="item">
                    <div class="in">
                        <div>Classified</div>
                    </div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/about']" (click)="sideBarClose()" class="item">
                    <div class="in">
                        <div>About Us</div>
                    </div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/faq']" (click)="sideBarClose()" class="item">
                    <div class="in">
                        <div>FAQ's</div>
                    </div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/help']" (click)="sideBarClose()" class="item">
                    <div class="in">
                        <div>Help</div>
                    </div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/terms-condition']" (click)="sideBarClose()" class="item">
                    <div class="in">
                        <div>Terms & Condition</div>
                    </div>
                </a>
            </li>
            <li>
                <div class="item">
                    <div class="in">
                        <div>Dark Mode</div>
                        <div class="form-check form-switch">
                            <input class="form-check-input clicksss dark-mode-switch" [checked]="checkboxVal" (click)="darkMode()" type="checkbox" id="darkmodesidebar">
                            <label class="form-check-label" for="darkmodesidebar"></label>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a class="item">
                    <div class="in">
                        <div>Version 1.1</div>
                        <div class="logout" (click)="logout()" ><span>Logout</span></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="offcanvas offcanvas-end right_sidebar" tabindex="-1" id="offcanvas-right">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title"><a >Hello {{currentUser.userDetails.name}}</a></h5>
        <a  class="offcanvas-close" data-bs-dismiss="offcanvas">
            <!-- <ion-icon name="close-outline"></ion-icon> -->
            <ion-icon name="close"></ion-icon>
        </a>
    </div>
    <div class="offcanvas-body">
        
         <div class="prof-nav">
             <!-- <img src="assets/img/img/personal.webp"> -->
             <ion-icon name="person-outline"></ion-icon>
             <a [routerLink]="['/personal']" (click)="sideBarClose()">Personal</a>
         </div>
         <div class="prof-nav">
             <!-- <img src="assets/img/img/anatomyImg.webp"> -->
             <ion-icon name="person-add-outline"></ion-icon>
             <a [routerLink]="['/anatomy']" (click)="sideBarClose()">Anatomy</a>
            </div>
            <div class="prof-nav">
                <!-- <img src="assets/img/img/image.webp"> -->
                <ion-icon name="image-outline"></ion-icon>
             <a [routerLink]="['/images']" (click)="sideBarClose()">Images</a>
         </div>
         <div class="prof-nav">
             <!-- <img src="assets/img/img/video_righside_bar.webp"> -->
             <ion-icon name="videocam-outline"></ion-icon>
             <a [routerLink]="['/video']" (click)="sideBarClose()">Videos</a>
         </div>
            <div class="prof-nav">
             <!-- <img src="assets/img/img/logout.webp"> -->
             <ion-icon name="log-out-outline"></ion-icon>
             <a (click)="logout()" >Logout</a>
         </div>
    </div>
</div>