<div class="wrrpperRegisterForm passwords rest_password ">    
    <app-top-header-bt [back]="back_link" [title]="component_title"></app-top-header-bt>
    <div class="forms">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="formGroup">
                <label>Password*</label>
                <div class="inputs passwrd">
                        <input id="password" maxlength="13" formControlName="password" [type]="hide ? 'password' : 'text'" class="form-control ps" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div class="eye" (click)="passwordhideshow()">
                            <i [ngClass]="hide ? 'fas fa-eye-slash showPasswd' : 'fas fa-eye showPasswd'"></i>
                          </div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Minimum length is 4</div>
                            <div *ngIf="f.password.errors.maxlength">Maximum length is 12</div>
                        </div>
                          <div class="invalid-feedback error" style="display: block;" *ngIf="f.password.errors?.serverError">{{ f.password.errors?.serverError }}</div>
                </div>                
            </div>

            <div class="formGroup">
                <label>OTP*</label>
                <div class="otpInputs">
                    <input  id="codeBox1" type="tel" maxlength="1" (keyup)="onKeyUpEvent(1, $event)" (focus)="onFocusEvent(1)">
                    <input  id="codeBox2" type="tel" maxlength="1" (keyup)="onKeyUpEvent(2, $event)" (focus)="onFocusEvent(2)">
                    <input  id="codeBox3" type="tel" maxlength="1" (keyup)="onKeyUpEvent(3, $event)" (focus)="onFocusEvent(3)">
                    <input  id="codeBox4" type="tel" maxlength="1" (keyup)="onKeyUpEvent(4, $event)" (focus)="onFocusEvent(4)">
                    <input formControlName="otp" [ngClass]="{ 'is-invalid': submitted && f.otp.errors }" class="form-control" type="hidden" >
                    <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
                        <div *ngIf="f.otp.errors.required">OTP is required</div>
                        <div *ngIf="f.otp.errors.max">OTP must be 4 digits</div>
                        <div *ngIf="f.otp.errors.min">OTP must be 4 digits</div>
                        <div *ngIf="f.otp.errors.mustMatch">Invalid OTP</div>
                      </div>   
                      <div class="invalid-feedback error" style="display: block;" *ngIf="f.otp.errors?.serverError">{{ f.otp.errors?.serverError }}</div>     
                      
                </div>
                <p class="otp_para">You will receive SMS on your Mobile Number, Please wait for few seconds to arrive and if  you didn’t  received the code , then please  click Resend Code Below.</p>
            </div>
            <p class="cantReceiveCode">Can't receive SMS? <a (click)="resendOTP()" class="resend">Resend OTP</a></p>
            <button class="next btnss_r ripple">Submit</button>
        </form>
    </div>
</div>