<div class="wrrpperRegisterForm passwords rest_password ">    
    <app-top-header-bt [back]="back_link" [title]="component_title"></app-top-header-bt>
    <div class="forms">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="formGroup">
                <label>Password*</label>
                <div class="inputs passwrd">
                        <input id="password" (keyup)="passwordInfo()" formControlName="password" [type]="hide ? 'password' : 'text'" maxlength="8" minlength="6" class="form-control ps" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div class="eye" (click)="passwordhideshow()">
                            <i [ngClass]="hide ? 'fas fa-eye-slash showPasswd' : 'fas fa-eye showPasswd'"></i>
                          </div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.pattern">One capital letter, one small letter, one special character, one number and total 8 character only</div>
                          </div>
                          <div class="invalid-feedback error" style="display: block;" *ngIf="f.password.errors?.serverError">{{ f.password.errors?.serverError }}</div>
                </div>
                <div class="instructions">
                    <label>Password Instructions</label>
                    <ul class="list-unstyled">
                        <li class=""><span class="low-uppercase"><i class="far fa-circle"></i></span> One Capital Letter</li>
                        <li class=""><span class="low-case"><i class="far fa-circle"></i></span> One Small Letter</li>
                        <li class=""><span class="one-special-char"><i class="far fa-circle" aria-hidden="true"></i></span> One Special Character (!@#$%^&*).</li>
                        <li class=""><span class="one-number"><i class="far fa-circle" aria-hidden="true"></i></span> One Number</li>
                    </ul>
                </div>
            </div>

            <div class="formGroup">
                <label>Confirm Password*</label>
                <div class="inputs passwrd">
                        <input id="ConfirmPassword" (keyup)="ConfirmpasswordInfo()" formControlName="confirm_password" [type]="chide ? 'password' : 'text'" maxlength="8" minlength="6" class="form-control ps" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }">
                        <div class="eye" (click)="cpasswordhideshow()">
                            <i [ngClass]="chide ? 'fas fa-eye-slash showPasswd' : 'fas fa-eye showPasswd'"></i>
                          </div>
                        <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                            <div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirm_password.errors.max">Maximum 15 charector allow</div>
                            <div *ngIf="f.confirm_password.errors.min">Minimum 6 charector allow</div>
                            <div *ngIf="f.confirm_password.errors.mustMatch">Password Must be Match</div>
                          </div>
                          <div class="invalid-feedback error" style="display: block;" *ngIf="f.password.errors?.serverError">{{ f.password.errors?.serverError }}</div>
                          
                </div>
                <div class="instructions">
                    <label>Password Instructions</label>
                    <ul class="list-unstyled">
                        <li class=""><span class="confirm-low-uppercase"><i class="far fa-circle"></i></span> One Capital Letter</li>
                        <li class=""><span class="confirm-low-case"><i class="far fa-circle"></i></span> One Small Letter</li>
                        <li class=""><span class="confirm-one-special-char"><i class="far fa-circle" aria-hidden="true"></i></span> One Special Character (!@#$%^&*).</li>
                        <li class=""><span class="confirm-one-number"><i class="far fa-circle" aria-hidden="true"></i></span> One Number</li>
                    </ul>
                </div>
            </div>

            <div class="formGroup">
                <label>OTP*</label>
                <div class="otpInputs">
                    <input  id="codeBox1" type="tel" maxlength="1" (keyup)="onKeyUpEvent(1, $event)" (focus)="onFocusEvent(1)">
                    <input  id="codeBox2" type="tel" maxlength="1" (keyup)="onKeyUpEvent(2, $event)" (focus)="onFocusEvent(2)">
                    <input  id="codeBox3" type="tel" maxlength="1" (keyup)="onKeyUpEvent(3, $event)" (focus)="onFocusEvent(3)">
                    <input  id="codeBox4" type="tel" maxlength="1" (keyup)="onKeyUpEvent(4, $event)" (focus)="onFocusEvent(4)">
                    <input formControlName="otp" [ngClass]="{ 'is-invalid': submitted && f.otp.errors }" class="form-control" type="hidden" >
                    <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
                        <div *ngIf="f.otp.errors.required">OTP is required</div>
                        <div *ngIf="f.otp.errors.max">OTP must be 4 digits</div>
                        <div *ngIf="f.otp.errors.min">OTP must be 4 digits</div>
                        <div *ngIf="f.otp.errors.mustMatch">Invalid OTP</div>
                      </div>   
                      <div class="invalid-feedback error" style="display: block;" *ngIf="f.otp.errors?.serverError">{{ f.otp.errors?.serverError }}</div>     
                      
                </div>
                <p class="otp_para">You will receive SMS on your Mobile Number, Please wait for few seconds to arrive and if  you didn’t  received the code , then please  click Resend Code Below.</p>
            </div>
            <p class="cantReceiveCode">Can't receive SMS? <a (click)="resendOTP()" class="resend">Resend Code</a></p>
            <button class="next btnss_r ripple">Submit</button>
        </form>
    </div>
</div>