<div class="main casting_inner inviteFrnds">
    <app-top-header-btl [back]="back_link" [title]="component_title"></app-top-header-btl>
    <div class=" main_wrppers faq term__Conditions">
        <div class="faqWrapper">
            <div *ngIf="!loading">
                <div class="para_skeleton"></div>
                <div class="para_skeleton"></div>
                <div class="para_skeleton"></div>
                <div class="para_skeleton"></div>
                <div class="para_skeleton"></div>
                <div class="para_skeleton"></div>
                <div class="para_skeleton"></div>
                <div class="para_skeleton"></div>
                <div class="para_skeleton"></div>   
                <div class="para_skeleton"></div>
                <div class="para_skeleton"></div>
                <div class="para_skeleton"></div>
                <div class="para_skeleton"></div>
                <div class="para_skeleton"></div>
                <div class="para_skeleton"></div>
                <div class="para_skeleton"></div>
                <div class="para_skeleton"></div>         
            </div>
            <div class="accordion" *ngFor="let term of all_terms.allTerms; let i=index;" [id]="'accordionExample'+i">
                <div class="accordion-item" >
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#accordion'+i">
                            {{term.title}}
                        </button>
                    </h2>
                    <div [id]="'accordion'+i" class="accordion-collapse collapse " [attr.data-bs-parent]="'#accordionExample'+i">
                        <div class="accordion-body">
                            {{term.description}}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>