.wrrpperRegisterForm .forms button.next {
    width: 100%;
    border: none;
    background: #ff6454;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 50px;
    padding: 8px 0;
    margin-bottom: 40px;
    display: block;
}