<app-footer></app-footer>
<!-- homeImg_banner_skeleton -->
<div class="img_skeleton"></div>

<!-- box-skeleton -->
<div>
    <!-- header_skeleton -->
    <div class="header_skelton"></div>
    <!-- box_skeleton -->
    <div class="box_skeleton"></div>
</div>

<div>
    <!-- header_skeleton -->
    <div class="header_skelton"></div>
    <!-- more_Slider_skeleton -->
    <div class="more_slider_skeleton"></div>
</div>

<!-- innerPage_skeleton -->
<div>
    <!-- para_skeleteon  -->
    <div class="para_skeleton"></div>
    <!-- img_skeleteon  -->
    <div class="inner_imgskeleton"></div>

</div>

<div class="main casting_inner notifications wrrpperRegisterForm">
    <app-top-header-btl [back]="back_link" [title]="component_title"></app-top-header-btl>
    <div class="main_wrppers">
        <div class="forms">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="formGroup">
                    <div class="select">
                        <select formControlName="options" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.options.errors }">
                            <option value="">Select</option>
                            <option [value]="options" *ngFor="let options of optionsList">{{options}}</option>
                        </select>
                        <div *ngIf="submitted && f.options.errors" class="invalid-feedback">
                            <div *ngIf="f.options.errors.required">Option is required</div>               
                          </div>          
                    </div>
                </div>
                <div class="formGroup">
                    <label>Message</label>
                    <div class="inputs">
                        <textarea formControlName="message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                            <div *ngIf="f.message.errors.required">Message is required</div>               
                          </div>
                    </div>
                </div>
                <button class="next">Send</button>
                <button type="button" class="btn btn-secondary" #opendialog data-bs-toggle="modal" data-bs-target="#SupportSuccess" style="display: none;">Success</button>
                <div class="modal fade dialogbox" id="SupportSuccess" data-bs-backdrop="static" tabindex="-1" style="display: none;" aria-modal="true" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-icon text-success">
                                <ion-icon name="checkmark-circle" role="img" class="md hydrated" aria-label="checkmark circle"></ion-icon>
                            </div>
                            <div class="modal-header">
                                <h5 class="modal-title">Success</h5>
                            </div>
                            <div class="modal-body">
                                Thank you for getting in touch!
                            </div>
                            <div class="modal-footer">
                                <div class="btn-inline">
                                    <a href="#" class="btn" data-bs-dismiss="modal">CLOSE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>