<app-footer></app-footer>
<!-- homeImg_banner_skeleton -->
<div class="img_skeleton"></div>

<!-- box-skeleton -->
<div>
    <!-- header_skeleton -->
    <div class="header_skelton"></div>
    <!-- box_skeleton -->
    <div class="box_skeleton"></div>
</div>

<div>
    <!-- header_skeleton -->
    <div class="header_skelton"></div>
    <!-- more_Slider_skeleton -->
    <div class="more_slider_skeleton"></div>
</div>

<!-- innerPage_skeleton -->
<div>
    <!-- para_skeleteon  -->
    <div class="para_skeleton"></div>
    <!-- img_skeleteon  -->
    <div class="inner_imgskeleton"></div>

</div>

<div class="main casting_inner notifications wrrpperRegisterForm">
    <app-top-header-btl [back]="back_link" [title]="component_title"></app-top-header-btl>
    <div class="main_wrppers">
        <div class="forms">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="formGroup">
                    <div class="select">
                        <select formControlName="options" class="form-control" [ngClass]="{ 'is-invalid': submit && f.options.errors }">
                            <option value="">Select</option>
                            <option [value]="options" *ngFor="let options of optionsList">{{options}}</option>
                        </select>
                        <div *ngIf="submit && f.options.errors" class="invalid-feedback">
                            <div *ngIf="f.options.errors.required">Gender is required</div>               
                          </div>          
                    </div>
                </div>
                <div class="formGroup">
                    <label>Message</label>
                    <div class="inputs">
                        <textarea name="" id=""></textarea>
                    </div>
                </div>
                <a class="next">Send</a>
            </form>
        </div>
    </div>
</div>