<div class="wrrpperRegisterForm successs profilePhoto upload_img_video">    
    <app-top-header-bt [back]="back_link" [title]="component_title"></app-top-header-bt>
    <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="imgContent">
        <div class="imgs">
            <input type="file" formControlName="files" (change)="onFileChange($event)" id="files" accept="video/mp4">
            <img src="assets/img/img/takeVideo.webp" alt="" for="photo">
        </div>
        <div class="ctnt">
            <p>Take a Video or choose From <br>your library</p>
            <span>(You can add only 1 Video)</span>
        </div>
    </div>
    <div class="btom_file mb-4">
        <div class="profileImg_area profile_videos">
            <!-- <video [src]="url" *ngIf="format==='video' && url" height="200" controls controlsList="nodownload noplaybackrate" disablePictureInPicture></video> -->
            <vg-player *ngIf="format==='video' && url">
                <vg-overlay-play></vg-overlay-play>
                <vg-buffering></vg-buffering>
            
                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
            
                <vg-controls>
                  <vg-play-pause></vg-play-pause>
                  <vg-playback-button></vg-playback-button>
            
                  <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            
                  <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
            
                  <!-- <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display> -->
                  <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
            
                  <!-- <vg-track-selector></vg-track-selector> -->
                  <vg-mute></vg-mute>
                  <vg-volume></vg-volume>
            
                  <vg-fullscreen></vg-fullscreen>
                </vg-controls>
            
                <video [vgMedia]="$any(media)"  #media id="singleVideo" preload="auto" >
                  <source src="{{url}}" type="video/mp4">            
                </video>
              </vg-player>
        </div>
    </div>
    <!-- Progress Bar -->
    <div class="pt-2 pb-2" *ngIf="progress">
      <p>Video uploading on server please wait...</p>
      <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="progress + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
      </div>
  </div>
    <div class="btnArea">
        <!-- <p class="btn_ctnt">Take a few minutes to complete your Profile</p> -->
        <button class="next btnss_r ripple">Continue</button>
        <span [routerLink]="['/home']">I will do it later</span>
    </div>
</form>
</div>