<app-sidebars></app-sidebars>
<app-footer></app-footer>
<div class="main casting movies_tab_wrappers">
    <app-header [moviesTab]="moviesTab" [castingtab]="castingtab" [tab]="catId" [workshoptab]="workshoptab"></app-header>   
    <div class="main_wrppers">
        <!-- App Capsule -->
        <div id="appCapsule" class="extra-header-active">            
            <div class="tab-content mt-1">
                <!-- photos tab -->
                <div class="tab-pane fade show active" id="photos" role="tabpanel">
                    <div class="movies_areas">
                        <div class="section full mt-1">
                            <div class="casingCalls">                            
                                <div class="casingCallHeader">
                                    <p class="classinghead">Movies</p>
                                    <a [routerLink]="['/movies-inner']">View All</a>
                                </div>
                            </div>
                            <div class="movies_tab_wrppers">
                                <!-- <a href="https://youtu.be/IdAdlfR96Jk" target="_blank"> -->
                                    <div class="moives_area">
                                        <img src="../../assets/img/img/movie/laal_singh_chadhha.png" alt="">
                                        <div class="content_area">
                                            <p>Laal singh Chaddha</p>
                                        </div>
                                    </div>
                                <!-- </a> -->
                                <!-- <a href="https://youtu.be/XcCWBRqWmyw" target="_blank"> -->
                                    <div class="moives_area">
                                        <img src="../../assets/img/img/movie/brahmastra.png" alt="">
                                        <div class="content_area">
                                            <p>Brahmastra</p>
                                        </div>
                                    </div>
                                <!-- </a> -->
                                <!-- <a href="https://youtu.be/wBkXYegj0k0" target="_blank"> -->
                                    <div class="moives_area">
                                        <img src="../../assets/img/img/movie/action_hero.png" alt="">
                                        <div class="content_area">
                                            <p>Action Hero</p>
                                        </div>
                                    </div>
                                <!-- </a> -->
                               <!-- <a href="https://youtu.be/gP6k1Qlv8vI" target="_blank"> -->
                                <div class="moives_area">
                                    <img src="../../assets/img/img/movie/bachan_pandey.png" alt="">
                                    <div class="content_area">
                                        <p>Bachchan Pandey</p>
                                    </div>
                                </div>
                               <!-- </a> -->
                            </div>
                        </div>
                        <div class="section full mt-1">
                            <div class="casingCalls">                            
                                <div class="casingCallHeader ">
                                    <p class="classinghead primary__color">Web Series</p>
                                    <a [routerLink]="['/upcoming-series']">View All</a>
                                </div>
                            </div>
                            <div class="movies_tab_wrppers">
                                <!-- <a href="https://youtu.be/nxE-k2MLQIA"> -->
                                    <div class="moives_area">
                                        <img src="../../assets/img/img/movie/breathInto.png" alt="">
                                        <div class="content_area">
                                            <p>Breath Into The Shadow</p>
                                        </div>
                                    </div>
                                <!-- </a> -->
                                <!-- <a href="https://youtu.be/WG9S0DtcSow"> -->
                                    <div class="moives_area">
                                        <img src="../../assets/img/img/movie/delhi_crimes_2.png" alt="">
                                        <div class="content_area">
                                            <p>Delhi crime 2</p>
                                        </div>
                                    </div>
                                <!-- </a> -->
                                <!-- <a href="https://youtu.be/GvfUXlTpvzg"> -->
                                    <div class="moives_area">
                                        <img src="../../assets/img/img/movie/the_great_indian_murder.png" alt="">
                                        <div class="content_area">
                                            <p>The great Indian murder</p>
                                        </div>
                                    </div>
                                <!-- </a> -->
                                <!-- <a href="#"> -->
                                    <div class="moives_area">
                                        <img src="../../assets/img/img/movie/ajebdastan.png" alt="">
                                        <div class="content_area">
                                            <p>Ajeeb Daastaans</p>
                                        </div>
                                    </div>
                                <!-- </a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- * photos tab -->
                <!-- videos tab -->
                <div class="tab-pane fade" id="videos" role="tabpanel">
                    <div class="movies_areas">
                        <div class="section full mt-1">
                            <div class="casingCalls">                            
                                <div class="casingCallHeader">
                                    <p class="classinghead ">Movies</p>
                                    <a [routerLink]="['/completed-movies']">View All</a>
                                </div>
                            </div>
                            <div class="movies_tab_wrppers">
                                <a href="https://youtu.be/QHdkC6Kn0Io">
                                    <div class="moives_area">
                                        <img src="../../assets/img/img/movie/83.png" alt="">
                                        <div class="content_area">
                                            <p>83 </p>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://youtu.be/4nwAra0mz_Q">
                                    <div class="moives_area">
                                        <img src="../../assets/img/img/movie/bajarangi_bhaijaan.png" alt="">
                                        <div class="content_area">
                                            <p>Bajrangi bhaijaan</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://youtu.be/9ZpPQdrHfl8">
                                    <div class="moives_area">
                                        <img src="../../assets/img/img/movie/gangs_of_wasepur.png" alt="">
                                        <div class="content_area">
                                            <p>Gangs of Wasseypur</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://youtu.be/x_7YlGv9u1g">
                                    <div class="moives_area">
                                        <img src="../../assets/img/img/movie/dangal.png" alt="">
                                        <div class="content_area">
                                            <p>Dangal</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="section full mt-1">
                            <div class="casingCalls">                            
                                <div class="casingCallHeader">
                                    <p class="classinghead primary__color">Web Series</p>
                                    <a [routerLink]="['/completed-series']">View All</a>
                                </div>
                            </div>
                            <div class="movies_tab_wrppers">
                                <a href="https://youtu.be/jNuKwlKJx2E">
                                    <div class="moives_area">
                                        <img src="../../assets/img/img/movie/delhi_crime.png" alt="">
                                        <div class="content_area">
                                            <p>Delhi Crime</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://youtu.be/q-a15OrmiXA">
                                    <div class="moives_area">
                                        <img src="../../assets/img/img/movie/human.png" alt="">
                                        <div class="content_area">
                                            <p>Human</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://youtu.be/wcQCQc9beXw">
                                    <div class="moives_area">
                                        <img src="../../assets/img/img/movie/tabbar.png" alt="">
                                        <div class="content_area">
                                            <p>Tabbar</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://youtu.be/XatRGut65VI">
                                    <div class="moives_area">
                                        <img src="../../assets/img/img/movie/familyman.png" alt="">
                                        <div class="content_area">
                                            <p>The Family Man</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- * videos tab -->
            </div>
        </div>
        <!-- * App Capsule -->
    </div>
</div>