<app-sidebars></app-sidebars>
<app-footer></app-footer>
<div class="main casting movies_tab_wrappers">
    <app-header [moviesTab]="moviesTab" [castingtab]="castingtab" [tab]="catId" [workshoptab]="workshoptab"></app-header>   
    <div class="main_wrppers">
        <!-- App Capsule -->
        <div id="appCapsule" class="extra-header-active">            
            <div class="tab-content mt-1">
                <!-- photos tab -->
                <div class="tab-pane fade show active" id="photos" role="tabpanel">
                    <div class="movies_areas">
                        <div class="section full mt-1">
                            <div class="casingCalls">                            
                                <div class="casingCallHeader">
                                    <p class="classinghead">Movies</p>
                                    <a [routerLink]="['/reels-inner']">View All</a>
                                </div>
                            </div>
                            <div class="movies_tab_wrppers">
                                <div class="moives_area">
                                    <img src="../../assets/img/img/pic_movies.png" alt="">
                                    <div class="content_area">
                                        <p>Bachchan Pandey</p>
                                    </div>
                                </div>
                                <div class="moives_area">
                                    <img src="../../assets/img/img/goivnd.png" alt="">
                                    <div class="content_area">
                                        <p>Govinda Naam Mera</p>
                                    </div>
                                </div>
                                <div class="moives_area">
                                    <img src="../../assets/img/img/looop.png" alt="">
                                    <div class="content_area">
                                        <p>Looop Lapeta</p>
                                    </div>
                                </div>
                                <div class="moives_area">
                                    <img src="../../assets/img/img/human.png" alt="">
                                    <div class="content_area">
                                        <p>Human</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section full mt-1">
                            <div class="casingCalls">                            
                                <div class="casingCallHeader ">
                                    <p class="classinghead primary__color">Web Series</p>
                                    <a >View All</a>
                                </div>
                            </div>
                            <div class="movies_tab_wrppers">
                                <div class="moives_area">
                                    <img src="../../assets/img/img/tabbar.png" alt="">
                                    <div class="content_area">
                                        <p>Tabbar</p>
                                    </div>
                                </div>
                                <div class="moives_area">
                                    <img src="../../assets/img/img/maharani.png" alt="">
                                    <div class="content_area">
                                        <p>Maharani</p>
                                    </div>
                                </div>
                                <div class="moives_area">
                                    <img src="../../assets/img/img/familyman.png" alt="">
                                    <div class="content_area">
                                        <p>The Family Man</p>
                                    </div>
                                </div>
                                <div class="moives_area">
                                    <img src="../../assets/img/img/ajebdastan.png" alt="">
                                    <div class="content_area">
                                        <p>Ajeeb Daastaans</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- * photos tab -->
                <!-- videos tab -->
                <div class="tab-pane fade" id="videos" role="tabpanel">
                    <div class="movies_areas">
                        <div class="section full mt-1">
                            <div class="casingCalls">                            
                                <div class="casingCallHeader">
                                    <p class="classinghead ">Movies</p>
                                    <a>View All</a>
                                </div>
                            </div>
                            <div class="movies_tab_wrppers">
                                <div class="moives_area">
                                    <img src="../../assets/img/img/tadap.png" alt="">
                                    <div class="content_area">
                                        <p>Tadap</p>
                                    </div>
                                </div>
                                <div class="moives_area">
                                    <img src="../../assets/img/img/atrangi.png" alt="">
                                    <div class="content_area">
                                        <p>Atrangi Re</p>
                                    </div>
                                </div>
                                <div class="moives_area">
                                    <img src="../../assets/img/img/haseenDilruba.png" alt="">
                                    <div class="content_area">
                                        <p>Haseen Dilruba</p>
                                    </div>
                                </div>
                                <div class="moives_area">
                                    <img src="../../assets/img/img/thalaivi.png" alt="">
                                    <div class="content_area">
                                        <p>Thalaivli</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section full mt-1">
                            <div class="casingCalls">                            
                                <div class="casingCallHeader">
                                    <p class="classinghead primary__color">Web Series</p>
                                    <a>View All</a>
                                </div>
                            </div>
                            <div class="movies_tab_wrppers">
                                <div class="moives_area">
                                    <img src="../../assets/img/img/worldOfAray.png" alt="">
                                    <div class="content_area">
                                        <p>Aranyak</p>
                                    </div>
                                </div>
                                <div class="moives_area">
                                    <img src="../../assets/img/img/lahore.png" alt="">
                                    <div class="content_area">
                                        <p>Lahore Confidential</p>
                                    </div>
                                </div>
                                <div class="moives_area">
                                    <img src="../../assets/img/img/katmandu.png" alt="">
                                    <div class="content_area">
                                        <p>Kathmandu Connection</p>
                                    </div>
                                </div>
                                <div class="moives_area">
                                    <img src="../../assets/img/img/grahan.png" alt="">
                                    <div class="content_area">
                                        <p>Grahan</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- * videos tab -->
            </div>
        </div>
        <!-- * App Capsule -->
    </div>
</div>