<!-- circleMenu-start -->
<div class="circleMenu">
    <div id="circularMenu" class="circular-menu">

        <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
          <div class="logoMenuImg">
            <img src="assets/img/img/mneuIcon.webp" class="logo__Menu" alt="">
            <!-- <img src="assets/img/img/menuCross.webp"  alt=""> -->
            <ion-icon name="close" class="cross__Menu"></ion-icon>
          </div>
        </a>
      
        <menu class="items-wrapper">
          <a href="#" class="menu-item"><img src="assets/img/img/profile.webp" alt=""><label>Support</label></a>
          <a href="#" class="menu-item"><img src="assets/img/img/games.webp" alt=""><label>Games</label></a>
          <a href="#" class="menu-item"><img src="assets/img/img/application.webp" alt=""><label>Application</label></a>
          <a href="main_home.html" class="menu-item"><img src="assets/img/img/home.webp" alt=""><label>Home</label></a>
        </menu>
      </div>
</div>
<!-- circleMenu-end -->