<!-- circleMenu-start -->
<div class="circleMenu" >
    <div id="circularMenu" class="circular-menu">

        <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
          <div class="logoMenuImg" [bdcWalkTriggerFor]="example2Step8">
            <!-- <img src="assets/img/img/mneuIcon.webp" class="logo__Menu" alt=""> -->
            <img src="assets/img/img/mccc_logos.svg" class="logo__Menu" alt="">
            <ion-icon name="close" class="cross__Menu"></ion-icon>
          </div>
        </a>
      
        <menu class="items-wrapper">
          <a [routerLink]="['/support']" class="menu-item"><img src="assets/img/img/profile.webp" alt=""><label>Support</label></a>
          <a [routerLink]="['/games']" class="menu-item"><img src="assets/img/img/games.webp" alt=""><label>Games</label></a>
          <a [routerLink]="['/my-applications']" class="menu-item"><img src="assets/img/img/application.webp" alt=""><label>Application</label></a>
          <a [routerLink]="['/home']" (click)="letEx()" class="menu-item"><img src="assets/img/img/home.webp" alt=""><label>Home</label></a>
        </menu>
      </div>
</div>
<bdc-walk-popup #example2Step8 name="example2Step8" [arrow]="true" header="Circle Menu" xPosition="before" yPosition="above" sideNoteText="8/8" [showButton]="true" [mustCompleted]="{example2Next: 7}" [onButtonCompleteTask]="{example2Next: 8}">
  This is the last popup.
</bdc-walk-popup>
<!-- circleMenu-end -->