 <div class="main casting_inner sidePaading0 workshop_inner">
        <div class="mainHeader">
            <div class="top_header">
                <div class="arrowLeft">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </div>
                <div class="logo middle">
                    <img src="assets/img/img/black_logo.webp" alt="">
                </div>
                <div class="lats_side">
                    <div class="avtars">
                        <!-- <div class="avatar"> -->
                            <img src="assets/img/img/homeIcon.webp" alt="avatar" class="rounded">
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="main_wrppers">
            <div class="castingImg">
                <img src="assets/img/img/worshopInnerimg.webp" alt="">
                <div class="shaveIcon">
                    <i class="far fa-bookmark"></i>
                </div>
            </div>
            <div class="castingContent">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <ul class="cating_details">
                    <li>
                        <div class="head">
                            <i class="far fa-clock"></i>Date & Time
                        </div>
                        <label>10th June 2021 | 12:30pm</label>
                    </li>
                    <li>
                        <div class="head">
                            <ion-icon name="location-outline"></ion-icon> Location
                        </div>
                        <label>35/2, Aram Nagar Part 2, Jeet Nagar, Versova, Andheri West, <br>Mumbai, Maharashtra 400061</label>
                    </li>
                </ul>
                <button class="castingApply">Enroll Now</button>
            </div>
        </div>
    </div>
