 <div class="main casting_inner sidePaading0 workshop_inner">
        <div class="mainHeader">
            <div class="top_header">
                <div class="arrowLeft" (click)="back()">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </div>
                <div class="logo middle">
                    <img src="assets/img/img/black_logo.webp" class="lightMode" alt="">
                    <img src="assets/img/img/white_logo.webp" class="darkkMode" alt="">
                </div>
                <div class="lats_side">
                    <div class="avtars" [routerLink]="['/home']">
                        <!-- <div class="avatar"> -->
                            <img src="assets/img/img/homeIcon.webp" alt="avatar" class="rounded">
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="main_wrppers">
            <div class="castingImg">
                <img src="{{bgImage}}" alt="">
               
            </div>
            <div class="castingContent">
                <div class="catingHeader">
                    <p>{{workshopData.title}}</p>
                    <div class="shaveIcon" (click)="bookmarkCasting(workshopData.id,workshopData?.bookmark_status)">
                        <i [ngClass]="workshopData.bookmark_status == 1 ? 'fas fa-bookmark removecard' : 'far fa-bookmark'"></i>
                    </div> 
                </div>
                <ul class="cating_details">
                    <li>
                        <div class="head">
                            <i class="far fa-clock"></i>Date & Time
                        </div>
                        <label>  {{eventDate }}  | {{workshopData.start_time_1}}</label>
                    </li>
                    <li>
                        <div class="head">
                            <ion-icon name="location-outline"></ion-icon> Location
                        </div>
                        <label>{{workshopData.location}}, {{workshopData.city_name}}, {{workshopData.state_name}}.</label>
                    </li>
                </ul>
                <div class="training-btn" *ngIf="this.checkData.data == 'No Data' && prevDate ">
                    <button class="castingApply" [routerLink] = "['/workshop-registration-form/',workshopData.id,2]"> ENROLL NOW </button>
                  <!-- <h6 *ngIf="this.checkData.data == 'No Data' && prevDate ">Enroll now to confirm your seat</h6> -->
                </div>
                <div class="training-btn" *ngIf="this.checkData.data != 'No Data' && prevDate ">
                    <a class="next"> ALREADY ENROLLED </a>
                </div>
            </div>
        </div>
    </div>
