<div class="main casting_inner inviteFrnds">
    <app-top-header-btl [back]="back_link" [title]="component_title"></app-top-header-btl>
    <!-- innerPage_skeleton -->
    <div *ngIf="!loading">
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
        <div class="para_skeleton"></div>
    </div>
    <div class=" main_wrppers about">
        <p [innerHTML]="data"></p>
    </div>
</div>