<div class="main casting casting_inner inviteFrnds bookemark_main">
    <app-top-header-btl [back]="back_link" [title]="component_title"></app-top-header-btl>
    <div class=" main_wrppers bookmarke bts_inners ">
        <div class="bookmaerkWrapper">
            <!-- Extra Header -->
                <div class="extraHeader p-0">
                    <ul class="nav nav-tabs lined" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#casting" role="tab">
                                Casting Call
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#workshop" role="tab">
                                Workshop
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#bts" role="tab">
                                BTS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#training" role="tab">
                                Training
                            </a>
                        </li>
                    </ul>
                </div>
            <!-- * Extra Header -->
            <!-- App Capsule -->
        <div id="appCapsule" class="extra-header-active">
            <div class="tab-content mt-1">
                <!-- casting tab -->                
                <div class="tab-pane fade show active" id="casting" role="tabpanel">
                    <!-- box-skeleton -->
                    <div *ngIf="!bookmarkNoData && !loading">
                        <div class="header_skelton"></div>
                        <div class="box_skeleton"></div>
                        <div class="box_skeleton"></div>
                        <div class="box_skeleton"></div>
                    </div>
                    <div class="section full mt-1">
                        <div class="casingCalls">
                            <app-bookmark-casting-card *ngFor="let c of castings; let idx=index" [data]="c"></app-bookmark-casting-card>
                        </div>
                    </div>
                    <app-not-found-data *ngIf="bookmarkNoData && loading"></app-not-found-data>
                </div>
                
                <!-- * casting tab -->
                <!-- workshop tab -->
                <div class="tab-pane fade" id="workshop" role="tabpanel">
                    <div class="section full mt-1">
                         <div class="casingCalls" *ngIf="!workshopbookmarkNoData">
                            <app-workshop-card *ngFor="let c of workshopBookmarkData; let idx=index" [data]="c"></app-workshop-card>
                        </div>
                        <div class="casingCalls" *ngIf="workshopbookmarkNoData">
                            <app-not-found-data ></app-not-found-data>
                        </div>
                    </div>

                </div>
                <!-- * workshop tab -->
                <!-- bts tab -->
                <div class="tab-pane fade" id="bts" role="tabpanel">
                    <div class="section full mt-1">
                        <div class="bts__inner" *ngIf="!btsBookmarkNoData">
                            <div class="moviesArea" *ngFor="let data of btsBookmarkData; let idx=index">
                                <div class="moviess"  [routerLink]="['/bts-video-view/',data.id,data.category_id]" >
                                    <img *ngIf="data.youtube_thumbnail == null " src="{{hostUrl}}{{data.thumbnail_path}}{{data.thumbnail}}">
                                    <img *ngIf="data.youtube_thumbnail != null " src="{{data.youtube_thumbnail}}">
                                    <div class="play__ionc">
                                        <img src="../../assets/img/img/play_icon.webp" alt="">
                                    </div>
                                </div>
                               <div class="bts_innersss">
                                    <div class="moviesContent" *ngIf="data.description.length > 50 && expanded !=  data.id">
                                        <p [innerHTML]="data.description.substr(0, 50) + '...'"></p>
                                        <span (click)="expanded = data.id"
                                                class="text-green"><b>{{expanded==  data.id ?'View less':'View more'}}</b></span>
                                    
                                    </div>
                                    <div class="shaveIcon" (click)="bookmarkBTS(data.id,idx)">
                                        <i [ngClass]="data.bookmark_status == 1 ? 'fas fa-bookmark removecard' : 'far fa-bookmark'"></i>
                                    </div> 
                               </div>
                                <div class="moviesContent" *ngIf="expanded ==  data.id ">
                                    <p [innerHTML]="data.description"></p>
                                    <span (click)="expanded =0"
                                              class="text-green"><b>{{expanded==  data.id ?'View less':'View more'}}</b></span>
                                    
                                </div>
                                <div class="moviesContent" *ngIf="data.description.length < 50 ">
                                    <p [innerHTML]="data.description"></p>
                                </div>

                            </div>
                        </div>
                        <div class="bts__inner" *ngIf="btsBookmarkNoData">
                            <app-not-found-data ></app-not-found-data>
                        </div>
                    </div>

                </div>
                <!-- * bts tab -->
                 <!-- training tab -->
                 <div class="tab-pane fade" id="training" role="tabpanel">
                    <div class="section full mt-1">
                        <div class="bts__inner" *ngIf="!eventbookmarkNoData">
                            
                            <div class="moviesArea" *ngFor="let eventData of eventBookmarkData; let idx=index">
                                <div class="moviess"  [routerLink]="['/training-video-view/',eventData.id,eventData.category_id]" >
                                    <img *ngIf="eventData.youtube_thumbnail == null " src="{{hostUrl}}{{eventData.thumbnail_path}}{{eventData.thumbnail}}">
                                    <img *ngIf="eventData.youtube_thumbnail != null " src="{{eventData.youtube_thumbnail}}">
                                    <div class="play__ionc">
                                        <img src="../../assets/img/img/play_icon.webp" alt="">
                                    </div>
                                </div>
                                <div class="shaveIcon" (click)="bookmarkEvent(eventData.id,idx)">
                                    <i [ngClass]="eventData.bookmark_status == 1 ? 'fas fa-bookmark removecard' : 'far fa-bookmark'"></i>
                                </div> 
                                <div class="moviesContent" *ngIf="eventData.description.length > 50 && expanded !=  eventData.id">
                                    <p [innerHTML]="eventData.description.substr(0, 50) + '...'"></p>
                                    <span (click)="expanded = eventData.id"
                                              class="text-green"><b>{{expanded==  eventData.id ?'View less':'View more'}}</b></span>
                                   
                                </div>
                                <div class="moviesContent" *ngIf="expanded ==  eventData.id ">
                                    <p [innerHTML]="eventData.description"></p>
                                    <span (click)="expanded =0"
                                              class="text-green"><b>{{expanded==  eventData.id ?'View less':'View more'}}</b></span>
                                    
                                </div>
                                <div class="moviesContent" *ngIf="eventData.description.length < 50 ">
                                    <p [innerHTML]="eventData.description"></p>
                                </div>
                            </div>
                        </div>
                        <div class="bts__inner" *ngIf="eventbookmarkNoData">
                            <app-not-found-data ></app-not-found-data>
                        </div>
                    </div>

                </div>
                <!-- * training tab -->
            </div>
        </div>
        <!-- * App Capsule -->
        </div>
    </div>
</div>