<div class="main casting casting_inner inviteFrnds bookemark_main">
    <app-top-header-btl [back]="back_link" [title]="component_title"></app-top-header-btl>
    <div class=" main_wrppers bookmarke">
        <div class="bookmaerkWrapper">
            <!-- Extra Header -->
                <div class="extraHeader p-0">
                    <ul class="nav nav-tabs lined" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#casting" role="tab">
                                Casting Call
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#workshop" role="tab">
                                Workshop
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#bts" role="tab">
                                BTS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#training" role="tab">
                                Training
                            </a>
                        </li>
                    </ul>
                </div>
            <!-- * Extra Header -->
            <!-- App Capsule -->
        <div id="appCapsule" class="extra-header-active">
            <div class="tab-content mt-1">
                <!-- casting tab -->
                <div class="tab-pane fade show active" id="casting" role="tabpanel">
                    <div class="section full mt-1">
                        <div class="casingCalls">
                            <app-casting-card *ngFor="let c of castings; let idx=index" [data]="c"></app-casting-card>
                        </div>
                    </div>
                    <app-not-found-data *ngIf="bookmarkNoData"></app-not-found-data>
                </div>
                
                <!-- * casting tab -->
                <!-- workshop tab -->
                <div class="tab-pane fade" id="workshop" role="tabpanel">
                    <div class="section full mt-1">
                         <div class="casingCalls">
                            <!-- <div class="casingCallHeader">
                                <p class="classinghead">New Casing Call</p>
                                <span><a>View All</a></span>
                            </div> -->
                            <div class="boxs">
                               <div class="boxHead">
                                <h5><a href="#">Looking for a Foreigner</a></h5>
                                <div class="shaveIcon">
                                    <i class="far fa-bookmark"></i>
                                </div>
                               </div>
                               <p><a href="">Lorem ipsum dolor sit amet, consectetuer 
                                adipiscing elit, sed....</a></p>
                                <ul class="userDetails">
                                    <li><i class="fas fa-transgender-alt"></i>Male</li>
                                    <li><i class="far fa-calendar-alt"></i>Nov 30, 2021</li>
                                    <li><ion-icon name="location-outline"></ion-icon>Mumbai</li>
                                </ul>
                                <div class="labelBtns">
                                    <label>Male</label>
                                    <label>Foreigner</label>
                                    <label>Add Film</label>
                                    <label>30-50 years</label>
                                </div>
                            </div>

                            <div class="boxs">
                                <div class="boxHead">
                                 <h5><a href="#">Looking for a Foreigner</a></h5>
                                 <div class="shaveIcon">
                                     <i class="far fa-bookmark"></i>
                                 </div>
                                </div>
                                <p><a href="">Lorem ipsum dolor sit amet, consectetuer 
                                 adipiscing elit, sed....</a></p>
                                 <ul class="userDetails">
                                     <li><i class="fas fa-transgender-alt"></i>Male</li>
                                     <li><i class="far fa-calendar-alt"></i>Nov 30, 2021</li>
                                     <li><ion-icon name="location-outline"></ion-icon>Mumbai</li>
                                 </ul>
                                 <div class="labelBtns">
                                     <label>Male</label>
                                     <label>Foreigner</label>
                                     <label>Add Film</label>
                                     <label>30-50 years</label>
                                 </div>
                             </div>

                             <div class="boxs">
                                <div class="boxHead">
                                 <h5><a href="#">Looking for a Foreigner</a></h5>
                                 <div class="shaveIcon">
                                     <i class="far fa-bookmark"></i>
                                 </div>
                                </div>
                                <p><a href="">Lorem ipsum dolor sit amet, consectetuer 
                                 adipiscing elit, sed....</a></p>
                                 <ul class="userDetails">
                                     <li><i class="fas fa-transgender-alt"></i>Male</li>
                                     <li><i class="far fa-calendar-alt"></i>Nov 30, 2021</li>
                                     <li><ion-icon name="location-outline"></ion-icon>Mumbai</li>
                                 </ul>
                                 <div class="labelBtns">
                                     <label>Male</label>
                                     <label>Foreigner</label>
                                     <label>Add Film</label>
                                     <label>30-50 years</label>
                                 </div>
                             </div>
                             
                        </div>
                    </div>

                </div>
                <!-- * workshop tab -->
                <!-- bts tab -->
                <div class="tab-pane fade" id="bts" role="tabpanel">
                    <div class="section full mt-1">
                        <div class="casingCalls">
                            <!-- <div class="casingCallHeader">
                                <p class="classinghead">New Casing Call</p>
                                <span><a>View All</a></span>
                            </div> -->
                            <div class="boxs">
                               <div class="boxHead">
                                <h5><a href="#">Looking for a Foreigner</a></h5>
                                <div class="shaveIcon">
                                    <i class="far fa-bookmark"></i>
                                </div>
                               </div>
                               <p><a href="">Lorem ipsum dolor sit amet, consectetuer 
                                adipiscing elit, sed....</a></p>
                                <ul class="userDetails">
                                    <li><i class="fas fa-transgender-alt"></i>Male</li>
                                    <li><i class="far fa-calendar-alt"></i>Nov 30, 2021</li>
                                    <li><ion-icon name="location-outline"></ion-icon>Mumbai</li>
                                </ul>
                                <div class="labelBtns">
                                    <label>Male</label>
                                    <label>Foreigner</label>
                                    <label>Add Film</label>
                                    <label>30-50 years</label>
                                </div>
                            </div>

                            <div class="boxs">
                                <div class="boxHead">
                                 <h5><a href="#">Looking for a Foreigner</a></h5>
                                 <div class="shaveIcon">
                                     <i class="far fa-bookmark"></i>
                                 </div>
                                </div>
                                <p><a href="">Lorem ipsum dolor sit amet, consectetuer 
                                 adipiscing elit, sed....</a></p>
                                 <ul class="userDetails">
                                     <li><i class="fas fa-transgender-alt"></i>Male</li>
                                     <li><i class="far fa-calendar-alt"></i>Nov 30, 2021</li>
                                     <li><ion-icon name="location-outline"></ion-icon>Mumbai</li>
                                 </ul>
                                 <div class="labelBtns">
                                     <label>Male</label>
                                     <label>Foreigner</label>
                                     <label>Add Film</label>
                                     <label>30-50 years</label>
                                 </div>
                             </div>

                             <div class="boxs">
                                <div class="boxHead">
                                 <h5><a href="#">Looking for a Foreigner</a></h5>
                                 <div class="shaveIcon">
                                     <i class="far fa-bookmark"></i>
                                 </div>
                                </div>
                                <p><a href="">Lorem ipsum dolor sit amet, consectetuer 
                                 adipiscing elit, sed....</a></p>
                                 <ul class="userDetails">
                                     <li><i class="fas fa-transgender-alt"></i>Male</li>
                                     <li><i class="far fa-calendar-alt"></i>Nov 30, 2021</li>
                                     <li><ion-icon name="location-outline"></ion-icon>Mumbai</li>
                                 </ul>
                                 <div class="labelBtns">
                                     <label>Male</label>
                                     <label>Foreigner</label>
                                     <label>Add Film</label>
                                     <label>30-50 years</label>
                                 </div>
                             </div>
                             
                        </div>
                    </div>

                </div>
                <!-- * bts tab -->
                 <!-- training tab -->
                 <div class="tab-pane fade" id="training" role="tabpanel">
                    <div class="section full mt-1">
                        <div class="casingCalls">
                            <!-- <div class="casingCallHeader">
                                <p class="classinghead">New Casing Call</p>
                                <span><a>View All</a></span>
                            </div> -->
                            <div class="boxs">
                               <div class="boxHead">
                                <h5><a href="#">Looking for a Foreigner</a></h5>
                                <div class="shaveIcon">
                                    <i class="far fa-bookmark"></i>
                                </div>
                               </div>
                               <p><a href="">Lorem ipsum dolor sit amet, consectetuer 
                                adipiscing elit, sed....</a></p>
                                <ul class="userDetails">
                                    <li><i class="fas fa-transgender-alt"></i>Male</li>
                                    <li><i class="far fa-calendar-alt"></i>Nov 30, 2021</li>
                                    <li><ion-icon name="location-outline"></ion-icon>Mumbai</li>
                                </ul>
                                <div class="labelBtns">
                                    <label>Male</label>
                                    <label>Foreigner</label>
                                    <label>Add Film</label>
                                    <label>30-50 years</label>
                                </div>
                            </div>

                            <div class="boxs">
                                <div class="boxHead">
                                 <h5><a href="#">Looking for a Foreigner</a></h5>
                                 <div class="shaveIcon">
                                     <i class="far fa-bookmark"></i>
                                 </div>
                                </div>
                                <p><a href="">Lorem ipsum dolor sit amet, consectetuer 
                                 adipiscing elit, sed....</a></p>
                                 <ul class="userDetails">
                                     <li><i class="fas fa-transgender-alt"></i>Male</li>
                                     <li><i class="far fa-calendar-alt"></i>Nov 30, 2021</li>
                                     <li><ion-icon name="location-outline"></ion-icon>Mumbai</li>
                                 </ul>
                                 <div class="labelBtns">
                                     <label>Male</label>
                                     <label>Foreigner</label>
                                     <label>Add Film</label>
                                     <label>30-50 years</label>
                                 </div>
                             </div>

                             <div class="boxs">
                                <div class="boxHead">
                                 <h5><a href="#">Looking for a Foreigner</a></h5>
                                 <div class="shaveIcon">
                                     <i class="far fa-bookmark"></i>
                                 </div>
                                </div>
                                <p><a href="">Lorem ipsum dolor sit amet, consectetuer 
                                 adipiscing elit, sed....</a></p>
                                 <ul class="userDetails">
                                     <li><i class="fas fa-transgender-alt"></i>Male</li>
                                     <li><i class="far fa-calendar-alt"></i>Nov 30, 2021</li>
                                     <li><ion-icon name="location-outline"></ion-icon>Mumbai</li>
                                 </ul>
                                 <div class="labelBtns">
                                     <label>Male</label>
                                     <label>Foreigner</label>
                                     <label>Add Film</label>
                                     <label>30-50 years</label>
                                 </div>
                             </div>
                             
                        </div>
                    </div>

                </div>
                <!-- * training tab -->
            </div>
        </div>
        <!-- * App Capsule -->
        </div>
    </div>
</div>