<div class="formGroup" [formGroup]="parent">
    <label>Your Country*</label>
    <div class="select">
        <select formControlName="country" (change)="changeSuitState($event)" class="form-control" [ngClass]="{ 'is-invalid': submit && f.country.errors }">            
            <option value="">Select</option>
            <option value="101">India</option>            
            <!-- <option value="country.id" *ngFor="let country of countryList" >{{country.name}}</option> -->
         </select>
         <div *ngIf="submit && f.country.errors" class="invalid-feedback">
             <div *ngIf="f.country.errors.required">Country is required</div>               
           </div>
    </div>
</div>
<div class="formGroup" [formGroup]="parent">
    <label>Your State*</label>
    <div class="select">
        <select formControlName="state" (change)="changeSuit($event)" class="form-control" [ngClass]="{ 'is-invalid': submit && f.state.errors }">
            <option value="">Select</option>
            <option value="{{state.id}}" *ngFor="let state of stateList" >{{state.name}}</option>
         </select>
         <div *ngIf="submit && f.state.errors" class="invalid-feedback">
             <div *ngIf="f.state.errors.required">State is required</div>               
           </div>
    </div>
</div>
<div class="formGroup" [formGroup]="parent">
    <label>Your City*</label>
    <div class="select">
        <select formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submit && f.city.errors }">
            <option value="">Select</option>
            <option *ngFor="let city of cityList" value="{{city.id}}">{{city.name}}</option>
         </select>
         <div *ngIf="submit && f.city.errors" class="invalid-feedback">
             <div *ngIf="f.city.errors.required">City is required</div>               
           </div>
    </div>
</div>