<div class="mainHeader">
    <div class="top_header">
        <div class="hamburger left" [bdcWalkTriggerFor]="example2Step1">
            <div id="nav-icon4" class="headerButton" data-bs-toggle="offcanvas" data-bs-target="#sidebarPanel">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="logo middle">
            <img src="assets/img/img/black_logo.webp" class="lightMode" alt="">
            <img src="assets/img/img/white_logo.webp" class="darkMode" alt="">
        </div>
        <div class="lats_side">
            <div class="notification" [routerLink]="['/notification']" [bdcWalkTriggerFor]="example2Step2">
                <ion-icon name="notifications-outline"></ion-icon>
                <div class="notificationsCount">
                    <span>{{getCount}}</span>
                </div>
            </div>
            <div class="avtars" [bdcWalkTriggerFor]="example2Step3">
                <div class="avatar">
                    <a data-bs-toggle="offcanvas" href="#offcanvas-right">
                        <!-- <img src="assets/img/img/avtar.webp" alt="avatar" class="rounded"> -->
                        <img *ngIf="profile_pic == '' || profile_pic == null " src="assets/img/img/avatar.webp" alt="image" class=" rounded">
                        <img *ngIf="profile_pic != null " src="{{baseUrl}}{{profile_pic_path}}{{profile_pic}}" alt="image" class=" rounded">
                    </a>
                </div>
            </div>
            
        </div>
    </div>
    <div class="bottomHeader">
        <div class="tabs">
            <div class="box" [bdcWalkTriggerFor]="example2Step4">
               <a [routerLink]="['/casting/1']">
                    <img src="assets/img/img/casting.webp" class="lightMode" alt="">
                    <img src="assets/img/img/white_casting.webp" class="darkMode" alt="">
                    <div class="label">Casting</div>
               </a>
            </div>
            <div class="box" [bdcWalkTriggerFor]="example2Step5">
               <a [routerLink]="['/workshop/1']">
                <img src="assets/img/img/workshop.webp"  class="lightMode" alt="">
                <img src="assets/img/img/white_workshop.webp" class="darkMode" alt="">
                <div class="label">Workshop</div>
               </a>
            </div>
            <div class="box" [bdcWalkTriggerFor]="example2Step6">
               <a [routerLink]="['/bts']">
                    <img src="assets/img/img/bts.webp"  class="lightMode" alt="">
                    <img src="assets/img/img/white_bts.webp" class="darkMode" alt="">
                    <div class="label">BTS</div>
               </a>
            </div>
            <div class="box">
                <a [routerLink]="['/training']" [bdcWalkTriggerFor]="example2Step7">
                    <img src="assets/img/img/training.webp"  class="lightMode" alt="">
                    <img src="assets/img/img/white_training.webp" class="darkMode" alt="">
                    <div class="label">Training</div>
                </a>
            </div>

            <div class="box">
                <a [routerLink]="['/reels']" [bdcWalkTriggerFor]="example2Step7">
                    <img src="assets/img/img/movies.png"  class="lightMode" alt="">
                    <img src="assets/img/img/white_upcoming.png" class="darkMode" alt="">
                    <div class="label">Movies</div>
                </a>
            </div>

        </div>
    </div>
    <!-- Extra Header -->
    <div class="extraHeader p-0" *ngIf="castingtab == 1">
        <ul class="nav nav-tabs lined" role="tablist">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="tab == 1 ? 'active':''" data-bs-toggle="tab" href="#photos" role="tab">
                    New
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="tab == 2? 'active':''" data-bs-toggle="tab" href="#videos" role="tab">
                    Recommended
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="tab == 3 ? 'active':''" data-bs-toggle="tab" href="#sounds" role="tab">
                    Ending Soon
                </a>
            </li>
        </ul>
    </div>
    <!-- * Extra Header -->
    <!-- Extra Header -->
    <div class="extraHeader p-0" *ngIf="workshoptab == 1">
        <ul class="nav nav-tabs lined" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#photos" role="tab">
                    On Going
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#videos" role="tab">
                    Upcoming
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#sounds" role="tab">
                    Workshop For You
                </a>
            </li>
        </ul>
    </div>
    <!-- * Extra Header --> 
    <!-- <div class="cdk-overlay-backdrop cdk-overlay-dark-backdrop cdk-overlay-backdrop-showing"></div> -->
      <bdc-walk-popup #example2Step1 class="modal_steps" name="example2Step1" header="Menu" xPosition="after" yPosition="below" sideNoteText="1/8" [showButton]="true" buttonText="Next" [mustCompleted]="{dialogWelcome: true}" [onButtonCompleteTask]="{example2Next: 1}">
        <p>Edit your profile, get training sessions, through one click.</p>
        <!-- <p (click)="clickClass()"> clock</p> -->
      </bdc-walk-popup>
      
      <bdc-walk-popup #example2Step2 class="modal_steps" name="example2Step2" header="Notification" xPosition="before" yPosition="below" sideNoteText="2/8" [showButton]="true" buttonText="Next" [mustCompleted]="{example2Next: 1}" [onButtonCompleteTask]="{example2Next: 2}">
        <p>Get daily updates on new events, casting calls, or training sessions</p>
      </bdc-walk-popup>

      <bdc-walk-popup #example2Step3 name="example2Step3" header="Profile" xPosition="before" yPosition="below" sideNoteText="3/8" [showButton]="true" buttonText="Next" [mustCompleted]="{example2Next: 2}" [onButtonCompleteTask]="{example2Next: 3}">
        <p>You can edit and update your information here!</p>
      </bdc-walk-popup>

      <bdc-walk-popup #example2Step4 name="example2Step4" header="Casting" xPosition="after" yPosition="below" sideNoteText="4/8" [showButton]="true" buttonText="Next" [mustCompleted]="{example2Next: 3}" [onButtonCompleteTask]="{example2Next: 4}">
        <p>Check out new casting calls that you may have missed.</p>
      </bdc-walk-popup>
      
      <bdc-walk-popup  #example2Step5 name="example2Step5" header="Workshop" xPosition="after" yPosition="below" sideNoteText="5/8" [showButton]="true" buttonText="Next" [mustCompleted]="{example2Next: 4}" [onButtonCompleteTask]="{example2Next: 5}">
        <p>Get daily updates on our exciting workshops.</p>
      </bdc-walk-popup>
      
      <bdc-walk-popup #example2Step6 name="example2Step6" header="BTS" xPosition="before" yPosition="below" sideNoteText="6/8" [showButton]="true" buttonText="Next" [mustCompleted]="{example2Next: 5}" [onButtonCompleteTask]="{example2Next: 6}">
        <p> Check out the fun behind every serious act!</p>
      </bdc-walk-popup>

      <bdc-walk-popup class="PGJA2" #example2Step7 name="example2Step7" header="Training" xPosition="before" yPosition="below" sideNoteText="7/8" [showButton]="true" buttonText="Next" [mustCompleted]="{example2Next: 6}" [onButtonCompleteTask]="{example2Next: 7}">
        <p>Get all your acting skills expertised by the experts!</p>
      </bdc-walk-popup>
      
      
    <!-- <bdc-walk-popup #example2Step1 name="example2Step1" header="Casting" xPosition="after" sideNoteText="1/4" [showButton]="true" buttonText="Next" [mustCompleted]="{dialogWelcome: true}" [onButtonCompleteTask]="{example2Next: 1}">
        The next popup will only be displayed if you click <b>Next</b>.
      </bdc-walk-popup>
      
      <bdc-walk-popup #example2Step2 name="example2Step2" header="Workshop" xPosition="after" sideNoteText="2/4" [showButton]="true" buttonText="Next" [mustCompleted]="{example2Next: 1}" [onButtonCompleteTask]="{example2Next: 2}">
        The next popup will only be displayed if you click <b>Next</b>.
      </bdc-walk-popup>

      <bdc-walk-popup #example2Step3 name="example2Step3" header="BTS" xPosition="after" sideNoteText="3/4" [showButton]="true" buttonText="Next" [mustCompleted]="{example2Next: 2}" [onButtonCompleteTask]="{example2Next: 3}">
        The next popup will only be displayed if you click <b>Next</b>.
      </bdc-walk-popup>
      
      <bdc-walk-popup #example2Step4 name="example2Step4" header="Training" xPosition="after" sideNoteText="4/4" [showButton]="true" [mustCompleted]="{example2Next: 3}" [onButtonCompleteTask]="{example2Next: 4}">
        This is the last popup.
      </bdc-walk-popup>

      <bdc-walk-popup #example2Step4 name="example2Step4" header="Training" xPosition="after" sideNoteText="4/4" [showButton]="true" [mustCompleted]="{example2Next: 3}" [onButtonCompleteTask]="{example2Next: 4}">
        This is the last popup.
      </bdc-walk-popup> -->
      
</div>