<div class="mainHeader">
    <div class="top_header">
        <div class="hamburger left">
            <div id="nav-icon4" class="headerButton" data-bs-toggle="offcanvas" data-bs-target="#sidebarPanel">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="logo middle">
            <img src="assets/img/img/black_logo.webp" class="lightMode" alt="">
            <img src="assets/img/img/white_logo.webp" class="darkMode" alt="">
        </div>
        <div class="lats_side">
            <div class="notification" [routerLink]="['/notification']">
                <ion-icon name="notifications-outline"></ion-icon>
                <div class="notificationsCount">
                    <span>{{getCount}}</span>
                </div>
            </div>
            <div class="avtars">
                <div class="avatar">
                    <a data-bs-toggle="offcanvas" href="#offcanvas-right">
                        <!-- <img src="assets/img/img/avtar.webp" alt="avatar" class="rounded"> -->
                        <img *ngIf="this.data.profile_pic == '' || this.data.profile_pic == 'Null' " src="assets/img/sample/avatar/avatar1.jpg" alt="image" class=" rounded">
                        <img *ngIf="this.data.profile_pic != '' " src="{{baseUrl}}{{this.data.profile_pic_path}}{{this.data.profile_pic}}" alt="image" class=" rounded">
            
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottomHeader">
        <div class="tabs">
            <div class="box">
               <a [routerLink]="['/casting/1']">
                    <img src="assets/img/img/casting.webp" class="lightMode" alt="">
                    <img src="assets/img/img/white_casting.webp" class="darkMode" alt="">
                    <div class="label">Casting</div>
               </a>
            </div>
            <div class="box">
               <a [routerLink]="['/workshop/1']">
                <img src="assets/img/img/workshop.webp"  class="lightMode" alt="">
                <img src="assets/img/img/white_workshop.webp" class="darkMode" alt="">
                <div class="label">Workshop</div>
               </a>
            </div>
            <div class="box">
               <a [routerLink]="['/bts']">
                    <img src="assets/img/img/bts.webp"  class="lightMode" alt="">
                    <img src="assets/img/img/white_bts.webp" class="darkMode" alt="">
                    <div class="label">BTS</div>
               </a>
            </div>
            <div class="box">
                <a [routerLink]="['/training']">
                    <img src="assets/img/img/training.webp"  class="lightMode" alt="">
                    <img src="assets/img/img/white_training.webp" class="darkMode" alt="">
                    <div class="label">Training</div>
                </a>
            </div>
        </div>
    </div>
    <!-- Extra Header -->
    <div class="extraHeader p-0" *ngIf="castingtab == 1">
        <ul class="nav nav-tabs lined" role="tablist">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="tab == 1 ? 'active':''" data-bs-toggle="tab" href="#photos" role="tab">
                    New
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="tab == 2? 'active':''" data-bs-toggle="tab" href="#videos" role="tab">
                    Recommended
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="tab == 3 ? 'active':''" data-bs-toggle="tab" href="#sounds" role="tab">
                    Ending Soon
                </a>
            </li>
        </ul>
    </div>
    <!-- * Extra Header -->
    <!-- Extra Header -->
    <div class="extraHeader p-0" *ngIf="workshoptab == 1">
        <ul class="nav nav-tabs lined" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#photos" role="tab">
                    On Going
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#videos" role="tab">
                    Upcoming
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#sounds" role="tab">
                    Workshop For You
                </a>
            </li>
        </ul>
    </div>
    <!-- * Extra Header -->
</div>