<app-footer></app-footer>
<div class="main casting_inner notifications wrrpperRegisterForm supports">
    <app-top-header-btl [back]="back_link" [title]="component_title"></app-top-header-btl>
    <div class="main_wrppers">
        <div class="forms">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="formGroup">
                    <label>Your Full Name*</label>
                    <div class="inputs">
                        <input autocomplete="off" formControlName="name" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" maxlength="28">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required</div>
                            <div *ngIf="f.name.errors.pattern">Characters and space are allowed, It's length should be minimum two characters</div>
                          </div>
                          <div class="invalid-feedback error" style="display: block;" *ngIf="f.name.errors?.serverError">{{ f.name.errors?.serverError }}</div>
                    </div>
                </div>
                <div class="formGroup">
                    <label>Your Email Id*</label>
                    <div class="inputs">
                        <input autocomplete="off" formControlName="email" type="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div> 
                            <div *ngIf="f.email.errors.emailTaken">Email is already taken</div>
                            <div *ngIf="f.email.errors.pattern">Email must be a valid email id</div>
                          </div> 
                          <div class="invalid-feedback error" style="display: block;" *ngIf="f.email.errors?.serverError">{{ f.email.errors?.serverError }}</div>
                    </div>
                </div>
                <div class="formGroup mobileNumer for_producer">
                    <label>Your Phone Number*</label>
                    <div class="mobileNumer">
                        <div class="selects">
                            <select formControlName="country_code" class="form-control" [(ngModel)]="selectedCode">
                                <option [value]="code.mobileCountryCode" *ngFor="let code of codeList">{{code.mobileCountryCode}}</option>
                             </select>
                        </div>
                        <div *ngIf="submitted && f.country_code.errors" class="invalid-feedback">
                            <div *ngIf="f.country_code.errors.required">Country code is required</div>               
                        </div>
                        <div class="invalid-feedback error" style="display: block;" *ngIf="f.country_code.errors?.serverError">
                            {{ f.country_code.errors?.serverError }}
                        </div>
                        <div class="inputs">
                            <input autocomplete="off" formControlName="phone" type="number" maxlength="16" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                              <div *ngIf="f.phone.errors.required">Phone is required</div>
                              <div *ngIf="f.phone.errors.maxlength">Not more then 16 digits</div>
                              <div *ngIf="f.phone.errors.minlength">Minimum 8 digits required</div>
                              <div *ngIf="f.phone.errors.pattern">Only digits allowed</div>
                              <div *ngIf="f.phone.errors.phoneTaken">Phone number is already taken.</div>
                            </div>
                            <div class="invalid-feedback error" style="display: block;" *ngIf="f.phone.errors?.serverError">{{ f.phone.errors?.serverError }}</div> 
                          </div>
                    </div>   
                    </div>
                <div class="formGroup">
                    <label>Production House*</label>
                    <div class="inputs">
                        <input autocomplete="off" formControlName="production_house" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.production_house.errors }">
                        <div *ngIf="submitted && f.production_house.errors" class="invalid-feedback">
                            <div *ngIf="f.production_house.errors.required">Production House is required</div>
                          </div>
                          <div class="invalid-feedback error" style="display: block;" *ngIf="f.production_house.errors?.serverError">{{ f.production_house.errors?.serverError }}</div>
                    </div>
                </div>
                <div class="formGroup">
                    <label>Designation*</label>
                    <div class="inputs">
                        <input autocomplete="off" formControlName="designation" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.designation.errors }">
                        <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                            <div *ngIf="f.designation.errors.required">Designation is required</div>                            
                          </div>
                          <div class="invalid-feedback error" style="display: block;" *ngIf="f.designation.errors?.serverError">{{ f.designation.errors?.serverError }}</div>
                    </div>
                </div>
                <div class="formGroup">
                    <label>Country*</label>
                    <div class="select">
                        <select formControlName="country_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country_id.errors }">            
                            <option value="" disabled>Select</option>
                            <option value="{{country.id}}" *ngFor="let country of countryList" >{{country.name}}</option>
                         </select>
                         <div *ngIf="submitted && f.country_id.errors" class="invalid-feedback">
                             <div *ngIf="f.country_id.errors.required">Country is required</div>               
                           </div>
                    </div>
                </div>
                <div class="formGroup">
                    <label>Languages*</label>
                    <div class="select">
                        <select class="form-control"  formControlName="language_id" [ngClass]="{ 'is-invalid': submitted && f.language_id.errors }">
                            <option value="" disabled>Select</option>
                            <option *ngFor="let language of languages;" value="{{language.id}}">{{language.name}}</option>
                        </select>
                        <div *ngIf="submitted && f.language_id.errors" class="invalid-feedback">
                            <div *ngIf="f.language_id.errors.required">Language is required</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="formGroup">
                    <label>Film Log Line</label>
                    <div class="inputs">
                        <input autocomplete="off" formControlName="film_log_line" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.film_log_line.errors }">
                        <div *ngIf="submitted && f.film_log_line.errors" class="invalid-feedback">
                            <div *ngIf="f.film_log_line.errors.required">Film Log Line is required</div>                            
                          </div>
                          <div class="invalid-feedback error" style="display: block;" *ngIf="f.film_log_line.errors?.serverError">{{ f.film_log_line.errors?.serverError }}</div>
                    </div>
                </div> -->
                <div class="formGroup">
                    <label>Film Log Line</label>
                    <div class="inputs">
                        <textarea formControlName="film_log_line" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.film_log_line.errors }"></textarea>
                        <div *ngIf="submitted && f.film_log_line.errors" class="invalid-feedback">
                            <div *ngIf="f.film_log_line.errors.required">Film Log Line is required</div>               
                          </div>
                          <div class="invalid-feedback error" style="display: block;" *ngIf="f.film_log_line.errors?.serverError">{{ f.film_log_line.errors?.serverError }}</div>
                    </div>
                </div>
                <!-- <div class="formGroup">
                    <label>Cast Requirement*</label>
                    <div class="inputs">
                        <input autocomplete="off" formControlName="cast" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cast.errors }">
                        <div *ngIf="submitted && f.cast.errors" class="invalid-feedback">
                            <div *ngIf="f.cast.errors.required">Cast is required</div>                            
                          </div>
                          <div class="invalid-feedback error" style="display: block;" *ngIf="f.cast.errors?.serverError">{{ f.cast.errors?.serverError }}</div>
                    </div>
                </div>                 -->
                <div class="formGroup">
                    <label>Cast Requirement*</label>
                    <div class="inputs">
                        <textarea formControlName="cast" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cast.errors }"></textarea>
                        <div *ngIf="submitted && f.cast.errors" class="invalid-feedback">
                            <div *ngIf="f.cast.errors.required">Cast is required</div>               
                          </div>
                    </div>
                </div>
                <button class="next tbsub">{{btnVal}}</button>
                <button type="button" class="btn btn-secondary" #opendialog data-bs-toggle="modal" data-bs-target="#SupportSuccess" style="display: none;">Success</button>
                <div class="modal fade dialogbox" id="SupportSuccess" data-bs-backdrop="static" tabindex="-1" style="display: none;" aria-modal="true" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-icon text-success">
                                <ion-icon name="checkmark-circle" role="img" class="md hydrated" aria-label="checkmark circle"></ion-icon>
                            </div>
                            <div class="modal-header">
                                <h5 class="modal-title">Success</h5>
                            </div>
                            <div class="modal-body">
                                Thank you for getting in touch!
                            </div>
                            <div class="modal-footer">
                                <div class="btn-inline">
                                    <a href="#" class="btn btnss_r ripple" style="color: #fff;" data-bs-dismiss="modal">CLOSE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>