<div class="main casting_inner movies_wrrpersss">
    <app-sub-header [back]="back_link"></app-sub-header>

    <div class="movies_areas">
        <div class="section full mt-1">
            <div class="casingCalls">                            
                <div class="casingCallHeader">
                    <p class="classinghead">Upcoming Movies</p>
                </div>
            </div>
            <div class="movies_tab_wrppers">
                <a href="https://youtu.be/IdAdlfR96Jk" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/laal_singh_chadhha.png" alt="">
                        <div class="content_area">
                            <p>Laal singh Chaddha</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/BT0zd0kmTxM" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/jersey.png" alt="">
                        <div class="content_area">
                            <p>Jersey</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/XcCWBRqWmyw" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/brahmastra.png" alt="">
                        <div class="content_area">
                            <p>Brahmastra</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/deYbjmQwoYM" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/goivnd.png" alt="">
                        <div class="content_area">
                            <p>Govinda Naam Mera</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/ynXtjchpzLA" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/shehjada.png" alt="">
                        <div class="content_area">
                            <p>Shehzada</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/wBkXYegj0k0" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/action_hero.png" alt="">
                        <div class="content_area">
                            <p>Action Hero</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/gP6k1Qlv8vI" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/bachan_pandey.png" alt="">
                        <div class="content_area">
                            <p>Bachchan Pandey</p>
                        </div>
                    </div>
                   </a>
                <a href="https://youtu.be/7jn7Nxm8i2Q" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/bhoolbhuliya.png" alt="">
                        <div class="content_area">
                            <p>Bhool bhulaiya 2</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/kWdbnrrMaXU" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/heropanti.png" alt="">
                        <div class="content_area">
                            <p>Heropanti 2</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/PH2L4r6nx7Y" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/villan.png" alt="">
                        <div class="content_area">
                            <p>Ek Villain Returns</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/gTxn44gL8zM" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/rakshabandhan.png" alt="">
                        <div class="content_area">
                            <p>Raksha Bandhan</p>
                        </div>
                    </div>
                </a>
                <!-- <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Goodbye</p>
                    </div>
                </div> -->
                <!-- <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Tara Vs Bilal</p>
                    </div>
                </div> -->
                <a href="https://youtu.be/b6QwWsZuSY8" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/gorkha.png" alt="">
                        <div class="content_area">
                            <p>Gorkha</p>
                        </div>
                    </div>
                </a>
                <!-- <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Visfot</p>
                    </div>
                </div> -->
                <a href="https://youtu.be/QMYyOwiaZSs" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/bheed.png" alt="">
                        <div class="content_area">
                            <p>Bheed</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/0oshgJCW0zg" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/dedh_bheegha.png" alt="">
                        <div class="content_area">
                            <p>Dedh Bigha Zameen</p>
                        </div>
                    </div>
                </a>
                <!-- <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Uuncha</p>
                    </div>
                </div> -->
                <a href="https://youtu.be/ivpFhyNDlBo" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/kuttey.png" alt="">
                        <div class="content_area">
                            <p>Kuttey</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/bRN5m0sBJy8" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/looop.png" alt="">
                        <div class="content_area">
                            <p>Looop Lapeta</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/DZEs4Drr4jY" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/mission_majanuu.png" alt="">
                        <div class="content_area">
                            <p>Mission Majnu</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/VKWzBxGmk7s" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/dhaakad.png" alt="">
                        <div class="content_area">
                            <p>Dhakkad</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
