<div class="main casting_inner movies_wrrpersss">
    <app-sub-header [back]="back_link"></app-sub-header>

    <div class="movies_areas">
        <div class="section full mt-1">
            <div class="casingCalls">                            
                <div class="casingCallHeader">
                    <p class="classinghead">Upcoming Projects</p>
                </div>
            </div>
            <div class="movies_tab_wrppers">
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/goivnd.png" alt="">
                    <div class="content_area">
                        <p>Govinda Naam Mera</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/looop.png" alt="">
                    <div class="content_area">
                        <p>Looop Lapeta</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/human.png" alt="">
                    <div class="content_area">
                        <p>Human</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/brahmastra.png" alt="">
                    <div class="content_area">
                        <p>Brahmastra</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/bhoolbhuliya.png" alt="">
                    <div class="content_area">
                        <p>Bhool Bhulaiyaa 2</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/breathInto.png" alt="">
                    <div class="content_area">
                        <p>Breath Into The Shadow</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/villan.png" alt="">
                    <div class="content_area">
                        <p>Ek Villain Returns</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Gorkha</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/heropanti.png" alt="">
                    <div class="content_area">
                        <p>Heropanti 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
