<div class="main casting_inner movies_wrrpersss">
    <app-sub-header [back]="back_link"></app-sub-header>

    <div class="movies_areas">
        <div class="section full mt-1">
            <div class="casingCalls">                            
                <div class="casingCallHeader">
                    <p class="classinghead">Upcoming Movies</p>
                </div>
            </div>
            <div class="movies_tab_wrppers">
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/pic_movies.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
