<div class="wrrpperHomeSlider">
    <div class="sliderss">
        <ngx-slick-carousel class="carousel slick_sliders splace_slider wrrpperHomeSlider" #slickModal="slick-carousel"
            [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
            (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="homeSliders">
                <div class="logos">
                    <img src="{{ slide.logo }}" alt="">
                </div>
                <div class="girlImg">
                    <img src="{{ slide.img }}" alt="">
                </div>
                <div class="bottomContent">
                    <h2>{{slide.title}}</h2>
                    <p>{{slide.des}}</p>
                    <div class="btns">
                        <button *ngIf="slide.no != 4" (click)="slickModal.slickGoTo(slide.no)" class="{{ slide.class3 }}">
                            <span><i>Start Swiping</i></span>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </button>    
                        <button *ngIf="slide.no == 4" [routerLink]="['/signin-signup']" class="{{ slide.class3 }}">
                            <span><i>Start Swiping</i></span>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </button>
                        <a [routerLink]="['/signin']">Skip</a>
                   </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>