<div class="wrrpperSingUp">
    <div class="logos">
        <img src="assets/img/black_logo.webp" alt="">
    </div>
    <div class="contentDetails">
        <p>Welcome too MCCC, Your gateway to big Screen.</p>
        <p>Sign up and Explore the whole new world<br>
            of Indian Cinema.</p>
    </div>
    <div class="signUpButtons">
        <a [routerLink]="['/registration']" class="signUp">SIGN UP</a>
        <button class="signUpFacbook"> <i class="fab fa-facebook-f"></i> Login with Facebook</button>
        <button class="signUpGoogle"> <img src="assets/img/img/googleIcon.webp" alt="">   Login with Google</button>
    </div>
    <div class="signIn">
        <button>SIGN IN</button>
    </div>
</div>