<div class="boxs">
    <div class="boxHead">
     <h5><a href="#">Looking for a Foreigner</a></h5>
     <div class="shaveIcon">
         <i class="far fa-bookmark"></i>
     </div>
    </div>
    <p><a href="">Lorem ipsum dolor sit amet, consectetuer 
     adipiscing elit, sed....</a></p>
     <ul class="userDetails">
         <li><i class="fas fa-transgender-alt"></i>Male</li>
         <li><i class="far fa-calendar-alt"></i>Nov 30, 2021</li>
         <li><ion-icon name="location-outline"></ion-icon>Mumbai</li>
     </ul>
     <div class="labelBtns">
         <label>Male</label>
         <label>Foreigner</label>
         <label>Add Film</label>
         <label>30-50 years</label>
     </div>
 </div>