<!doctype html>
<html lang="en">


<body>

    <!-- circleMenu-end -->
    <div class="main casting_inner sidePaading0 bts_inner">
        <div class="mainHeader">
            <div class="top_header">
                <div class="arrowLeft" [routerLink]="['/bts']">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </div>
                <div class="logo middle">
                    <img src="../../assets/img/img/black_logo.webp" alt="">
                </div>
                <div class="lats_side">
                    <div class="avtars" [routerLink]="['/home']">
                        <!-- <div class="avatar"> -->
                            <img src="../../assets/img/img/homeIcon.webp" alt="avatar" class="rounded">
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="main_wrppers bts_inners">
            <div class="bts__inner">
                <div class="head">
                    <label *ngIf="!videoNotFound">{{topBtsVideos[0].category}}</label>
                </div>
                <div class="moviesArea" *ngFor="let data of topBtsVideos">
                    <div class="moviess" (click) = 'videoClick(data.id)' [routerLink]="['/bts-video-view/',data.id,btsCategoryId]" >
                        <img *ngIf="data.youtube_thumbnail == null " src="{{hostUrl}}{{data.thumbnail_path}}{{data.thumbnail}}">
					    <img *ngIf="data.youtube_thumbnail != null " src="{{data.youtube_thumbnail}}">
                        <div class="play__ionc">
                            <img src="../../assets/img/img/play_icon.webp" alt="">
                        </div>
                    </div>
                    <div class="moviesContent" *ngIf="data.description.length > 50 && expanded !=  data.id">
                        <p [innerHTML]="data.description.substr(0, 50) + '...'"></p>
                        <span (click)="expanded = data.id"
                                  class="text-green"><b>{{expanded==  data.id ?'View less':'View more'}}</b></span>
                       
                    </div>
                    <div class="moviesContent" *ngIf="expanded ==  data.id ">
                        <p [innerHTML]="data.description"></p>
                        <span (click)="expanded =0"
                                  class="text-green"><b>{{expanded==  data.id ?'View less':'View more'}}</b></span>
                        
                    </div>
                    <div class="moviesContent" *ngIf="data.description.length < 50 ">
                        <p [innerHTML]="data.description"></p>
                    </div>
                </div>
                
            </div>
            <div *ngIf="videoNotFound">
                <app-not-found-data ></app-not-found-data>
            </div>
        </div>
    </div>

  

</body>

</html>