<div class="main casting_inner movies_wrrpersss">
    <app-sub-header [back]="back_link"></app-sub-header>

    <div class="movies_areas">
        <div class="section full mt-1">
            <div class="casingCalls">                            
                <div class="casingCallHeader">
                    <p class="classinghead">Upcoming Projects</p>
                </div>
            </div>
            <div class="movies_tab_wrppers">
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/laal_singh_chadhha.png" alt="">
                    <div class="content_area">
                        <p>Laal Singh Chaddha</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/goivnd.png" alt="">
                    <div class="content_area">
                        <p>Jersey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/brahmastra.png" alt="">
                    <div class="content_area">
                        <p>Brahmastra</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/goivnd.png" alt="">
                    <div class="content_area">
                        <p>Govinda Naam Mera</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/brahmastra.png" alt="">
                    <div class="content_area">
                        <p>Shehzaada</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/action_hero.png" alt="">
                    <div class="content_area">
                        <p>Action Hero</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/bachan_pandey.png" alt="">
                    <div class="content_area">
                        <p>Bachchan Pandey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/villan.png" alt="">
                    <div class="content_area">
                        <p>Bhool bhulaiya 2</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/heropanti.png" alt="">
                    <div class="content_area">
                        <p>Heropanti 2</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Ek Villain Returns</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Raksha Bandhan</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Goodbye</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Tara Vs Bilal</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Gorkha</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Visfot</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Bheed</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Dedh Beegh Zameen</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Uuncha</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Kuttey</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Looop Lapeta</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Mission Majnu</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/gorkha.png" alt="">
                    <div class="content_area">
                        <p>Dhakkad</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
