<div class="main casting casting_inner profile">
        <div class="mainHeader">
            <div class="top_header">
                <div class="arrowLeft">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </div>
                <div class="logo middle">
                    <label>Your Profile</label>
                </div>
                <div class="lats_side">
                    <div class="avtars">
                            <a href="main_home.html">
                                <img src="assets/img/img/homeIcon.webp" alt="avatar" class="rounded">
                            </a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class=" main_wrppers profileWrpper">
            <div class="profiles">
                <div class="profileDiv">
                    <label>Name<span>*</span></label>
                    <input class="innerDetail" type="text" value="Aditya">
                </div>
                <div class="profileDiv">
                    <label>DOB<span>*</span></label>
                    <div class="dateBirth">
                        <div class="select">
                            <select name="" id="">
                                <option value="male" selected disabled>Date</option>
                                <option value="male">1</option>
                                <option value="male">2</option>
                                <option value="male">3</option>
                                <option value="male">4</option>
                                <option value="male">5</option>
                                <option value="male">6</option>
                            </select>
                        </div>
                        <div class="select">
                            <select name="" id="">
                                <option value="male" selected disabled>Month</option>
                                <option value="male">1</option>
                                <option value="male">2</option>
                                <option value="male">3</option>
                                <option value="male">4</option>
                                <option value="male">5</option>
                                <option value="male">6</option>
                            </select>
                        </div>
                        <div class="select">
                            <select name="" id="">
                                <option value="male" selected disabled >Year</option>
                                <option value="male">1986</option>
                                <option value="male">1987</option>
                                <option value="male">1988</option>
                                <option value="male">1989</option>
                                <option value="male">1990</option>
                                <option value="male">1991</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="profileDiv">
                    <label>Height<span>*</span></label>
                    <input class="innerDetail" value="55">
                </div>
                <div class="profileDiv">
                    <label>Contact Number<span>*</span></label>
                    <input class="innerDetail" value="+91 8425025713">
                </div>
                <div class="profileDiv">
                    <label>Language<span>*</span></label>
                    <input class="innerDetail" value="Marathi">
                </div>
                <div class="profileDiv">
                    <label>State<span>*</span></label>
                    <input class="innerDetail" value="Maharastra">
                </div>
                <div class="profileDiv">
                    <label>City<span>*</span></label>
                    <input class="innerDetail" value="Mumbai">
                </div>
                <div class="profileDiv">
                    <label>Home Town<span>*</span></label>
                    <input class="innerDetail" value="Goregoan West">
                </div>
                <div class="profileDiv">
                    <label>Hobbies<span>*</span></label>
                    <input class="innerDetail" value="Playing Cricket,Listing Music">
                </div>
                <div class="submit">
                    <a href='anatomy.html' class="btns">Submit</a>
                    <a href="#" class="btns outline">Cancel</a>
                </div>
            </div>
        </div>
    </div>