<div class="wrrpperRegisterForm successs thankyou_casting">    
    <div class="imgContent" style="height: calc(80vh - 100px)!important;">
        <div class="imgs">
            <img src="assets/img/img/succes.webp" alt="">
        </div>
        <div class="ctnt">
            <h4>Kudos!</h4>
            <p>We’re Glad To Receive Your Form!</p>
        </div>
        <p class="btn_ctnt">Take A Seat And Sip on a Cup of Coffee. We’ll Be Back With Some Great<br>News, In A Jiffy!<br>Your Application No. is <span>{{applicationNo}}</span></p>
        
    </div>
        <!-- <ngx-slick-carousel class="carousel slick_sliders thank_you_slider" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">                
        <div ngxSlickItem *ngFor="let slide of slides" class="banner thank_sliders main_banner" style="min-height: 132px;">
         <div class="banner_content">            
                    <p><i class="fas fa-quote-left"></i>{{slide.des}}<i class="fas fa-quote-right"></i></p> 
        </div>
        </div>        
      </ngx-slick-carousel> -->

    <div class="btnArea">
        <button class="next btnss_r ripple" (click)="letEx()">Let's Explore!</button>
    </div>
    <div *ngIf="showquote">
        <app-quote-dialog [screen]='screen'></app-quote-dialog> 
    </div>
</div>