<ngx-slick-carousel class="carousel video_slider" #slickModal="slick-carousel" [config]="trns_sliders"
(init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
(beforeChange)="beforeChange($event)">
    <div class="moreSlider" ngxSlickItem>
        <div class="app_circles">
            <a href="http://onelink.to/qyqvg3" target="_blank">
                <img src="../../../assets/img/img/oichi.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="moreSlider" ngxSlickItem>
        <div class="app_circles">
            <a href="http://onelink.to/fm9btn" target="_blank">
                <img src="../../../assets/img/img/aha.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="moreSlider" ngxSlickItem>
        <div class="app_circles">
            <a href="http://onelink.to/6yaeuh" target="_blank">
                <img src="../../../assets/img/img/planet_marathi.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="moreSlider" ngxSlickItem>
        <div class="app_circles">
            <a href="http://onelink.to/qyqvg3" target="_blank">
                <img src="../../../assets/img/img/oichi.jpg" alt="">
            </a>
        </div>
    </div>

</ngx-slick-carousel>