<div class="mainHeader">
    <div class="top_header">
        <div class="arrowLeft" (click)="backs()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </div>
        <!-- <div class="arrowLeft" [routerLink]="[link]">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </div> -->
        <div class="logo middle">
            <img src="assets/img/img/black_logo.svg" class="lightMode" alt="">
            <img src="assets/img/img/white_logo.svg" class="darkMode" alt="">
        </div>
        <div class="lats_side">
            <div class="avtars" [routerLink]="['/home']">
                <!-- <div class="avatar"> -->
                    <!-- <img src="assets/img/img/homeIcon.webp" alt="avatar" class="rounded"> -->
                    <ion-icon name="home-outline"></ion-icon>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>