<div class="boxs workshop">
    <div class="boxHead">
     <h5><a (click)="workshopInner(data.id)">{{data.title | titlecase}} </a></h5>
     <div class="shaveIcon">
         <i class="far fa-bookmark"></i>
     </div>
    </div>
    <p [innerHtml]="doHtmlDisplay(data.description)"> </p><span (click)="workshopInner(data.id)">View More</span>
     <ul class="userDetails">

        <li><ion-icon name="location-outline"></ion-icon>{{data.city_name}}</li>
        <li><i class="far fa-calendar-alt"></i>{{data.start_date | date :'mediumDate'}}</li>
        <li><i class="far fa-clock"></i>{{data.start_time_1}}</li>
     </ul>
     
 </div>