<div class="boxs workshop">
    <div class="boxHead">
     <h5><a (click)="workshopInner(data.id)">{{data.title | titlecase}} </a></h5>
     <div class="shaveIcon" (click)="bookmarkCasting(data.id,data?.bookmark_status)">
        <i [ngClass]="data.bookmark_status == 1 ? 'fas fa-bookmark removecard' : 'far fa-bookmark'"></i>
    </div> 
    </div>
    <p ><a [innerHtml]="doHtmlDisplay(data.description)" (click)="workshopInner(data.id)"></a></p>
     <ul class="userDetails">

        <!-- <li><ion-icon name="location-outline"></ion-icon>{{data.city_name}}</li>
        <li><i class="far fa-calendar-alt"></i>{{data.start_date | date :'mediumDate'}}</li>
        <li><i class="far fa-clock"></i>{{data.start_time_1}}</li> -->
     </ul>
     
 </div>