<div class="main casting_inner testimonials">
    <app-sub-header [back]="back_link"></app-sub-header>
    <div class="main_wrppers">
        <div class="testimonail_slider">
            <div class="testimonial_header">
                <p>Testimonials</p>
            </div>
            <div class="testimonials_slider_wrrperss">
               
                <ngx-slick-carousel class="carousel slick_sliders" #slickModal="slick-carousel" [config]="two_sliders" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem   class="btsSlioder">
                        <div class="testimonials__slidersss">
                            <img src="../../assets/img/img/testimonial_pic.png" alt="">
                            <div class="sliders">
                                <p>"To find the right actor to play a character, big or small requires, one, immense understanding of the script and two, a keen eye to find an artist who has the ability to portray the character that he is to play. Having worked with Mukesh Chhabra, it has made me realize that he not only has an eye for talent but also the patience and commitment, required to ease the casting worry of a Director. Mukesh stands by you, takes his work seriously, to the extent that he even creates a set like environment for all his auditions, putting props, getting right costume, giving the actor a look and sometimes even back ground music . He ensures that even the surroundings play its role in getting the actor into character, thus raising the standard of his audition to a superior quality. I enjoy working with him."</p>
                            <button>Raj Kumar Hirani <span>Director of Lage Raho Munna bhai, 3 Idiots, pk</span></button>
                            </div>
                        </div>
                    </div> 
                    <div ngxSlickItem   class="btsSlioder">
                        <div class="testimonials__slidersss">
                            <img src="../../assets/img/img/testimonial_pic.png" alt="">
                            <div class="sliders">
                                <p>"To find the right actor to play a character, big or small requires, one, immense understanding of the script and two, a keen eye to find an artist who has the ability to portray the character that he is to play. Having worked with Mukesh Chhabra, it has made me realize that he not only has an eye for talent but also the patience and commitment, required to ease the casting worry of a Director. Mukesh stands by you, takes his work seriously, to the extent that he even creates a set like environment for all his auditions, putting props, getting right costume, giving the actor a look and sometimes even back ground music . He ensures that even the surroundings play its role in getting the actor into character, thus raising the standard of his audition to a superior quality. I enjoy working with him."</p>
                            <button>Raj Kumar Hirani <span>Director of Lage Raho Munna bhai, 3 Idiots, pk</span></button>
                            </div>
                        </div>
                    </div>        
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</div>
