<div id="toast-15" class="toast-box toast-bottom">
    <div class="in">
        <div class="text">
            Bookmark added
        </div>
    </div>
</div>
<div id="toast-16" class="toast-box bg-danger toast-bottom">
    <div class="in">
        <div class="text">
            Bookmark remove
        </div>
    </div>
</div>
<div id="toast-12" class="toast-box toast-center">
    <div class="in">
        <div class="text">
            Password Reset Successfully.
        </div>
    </div>
</div>
<router-outlet></router-outlet>
