
<app-footer></app-footer>
<div class="main casting_inner sidePaading0 bts_inner_inner">
    
    <div class="mainHeader">
        <div class="top_header">
            <div class="arrowLeft">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </div>
            <div class="logo middle">
                <img src="assets/img/img/black_logo.webp" alt="">
            </div>
            <div class="lats_side">
                <div class="avtars">
                    <!-- <div class="avatar"> -->
                        <img src="assets/img/img/homeIcon.webp" alt="avatar" class="rounded">
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="main_wrppers bts_inners_inner">
        <div class="bts__inner_inner">
            <div class="videosTopPart">
                <div class="youtubeVideos">
                    <iframe width="100%" height="315" src="http://www.youtube.com/embed/nIsCs9_-LP8" frameborder="0" allowfullscreen></iframe>
                    <div class="shaveIcon">
                        <i class="far fa-bookmark" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="upNext">
                <div class="youtubeContent">
                    <p>Hereʼs A chance for all the A Hereʼs A chance for all the chance for all the...<a href="#">View More</a></p>
                    <span>10 Views</span>
                </div>
                <label>Up Next</label>
                <div class="upNextVideos">
                    <div class="vLeft">
                        <img src="assets/img/img/videosUpNestimg.webp" alt="">
                        <div class="play__ionc">
                            <img src="assets/img/img/play_icon.webp" alt="">
                        </div>
                    </div>
                    <div class="vright">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing Mukesh Chhabra.</p>
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing.......</span>
                        <a href="#">More</a>
                    </div>
                </div>
                <div class="upNextVideos">
                    <div class="vLeft">
                        <img src="assets/img/img/videosUpNestimg.webp" alt="">
                        <div class="play__ionc">
                            <img src="assets/img/img/play_icon.webp" alt="">
                        </div>
                    </div>
                    <div class="vright">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing Mukesh Chhabra.</p>
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing.......</span>
                        <a href="#">More</a>
                    </div>
                </div>
                <div class="upNextVideos">
                    <div class="vLeft">
                        <img src="assets/img/img/videosUpNestimg.webp" alt="">
                        <div class="play__ionc">
                            <img src="assets/img/img/play_icon.webp" alt="">
                        </div>
                    </div>
                    <div class="vright">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing Mukesh Chhabra.</p>
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing.......</span>
                        <a href="#">More</a>
                    </div>
                </div>
                <div class="upNextVideos">
                    <div class="vLeft">
                        <img src="assets/img/img/videosUpNestimg.webp" alt="">
                        <div class="play__ionc">
                            <img src="assets/img/img/play_icon.webp" alt="">
                        </div>
                    </div>
                    <div class="vright">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing Mukesh Chhabra.</p>
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing.......</span>
                        <a href="#">More</a>
                    </div>
                </div>
                <div class="upNextVideos">
                    <div class="vLeft">
                        <img src="assets/img/img/videosUpNestimg.webp" alt="">
                        <div class="play__ionc">
                            <img src="assets/img/img/play_icon.webp" alt="">
                        </div>
                    </div>
                    <div class="vright">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing Mukesh Chhabra.</p>
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing.......</span>
                        <a href="#">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>