<div class="main casting_inner movies_wrrpersss">
    <app-sub-header [back]="back_link"></app-sub-header>

    <div class="movies_areas">
        <div class="section full mt-1">
            <div class="casingCalls">                            
                <div class="casingCallHeader">
                    <p class="classinghead">Upcoming Web Series</p>
                </div>
            </div>
            <div class="movies_tab_wrppers">
                <a href="https://youtu.be/7racLNobw3A" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/planA_plan B.png" alt="">
                        <div class="content_area">
                            <p>PlanA PlanB</p>
                        </div>
                    </div>
                </a>
                <!-- <div class="moives_area">
                    <img src="../../assets/img/img/movie/goivnd.png" alt="">
                    <div class="content_area">
                        <p>Faadu</p>
                    </div>
                </div> -->
                <a href="https://youtu.be/q-a15OrmiXA" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/human.png" alt="">
                        <div class="content_area">
                            <p>Human</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/JkvN4HpIvwc" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/delhi_crimes_2.png" alt="">
                        <div class="content_area">
                            <p>Delhi Crime 2</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/AxYn-4JAqH4" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/she_2.png" alt="">
                        <div class="content_area">
                            <p>She 2</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/wEQVgFxWEVw" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/maharani_2.png" alt="">
                        <div class="content_area">
                            <p>Maharani 2</p>
                        </div>
                    </div>
                </a>
                <!-- <div class="moives_area">
                    <img src="../../assets/img/img/movie/bachan_pandey.png" alt="">
                    <div class="content_area">
                        <p>Farzi (Fakes)</p>
                    </div>
                </div> -->
                <a href="https://youtu.be/nxE-k2MLQIA" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/breathInto.png" alt="">
                        <div class="content_area">
                            <p>Breathe Into The Shadows</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
