<div class="mainHeader">
    <div class="top_header">
        <div class="arrowLeft" [routerLink]="[link]">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </div>
        <div class="logo middle">
            <label>{{title}}</label>
        </div>
        <div class="lats_side">
            <div class="avtars">
                    <a [routerLink]="['/home']">
                        <!-- <img src="assets/img/img/homeIcon.webp" alt="avatar" class="rounded"> -->
                        <ion-icon name="home-outline"></ion-icon>
                    </a>
            </div>
        </div>
    </div>
</div>