    <!-- <app-footer></app-footer> -->
<div class="main casting_inner sidePaading0 gammings">
    <app-sub-header [back]="back_link"></app-sub-header>    
    <div class="main_wrppers gameWrpper">
        <div class="gamesArea">
            <div class="gameHeader">
                <p class="classinghead">Games</p>
                <!-- <span><a>View All</a></span> -->
            </div>
        </div>
        <div class="gameArea" (click)="show()">
            <img src="assets\game_image\iPhone 12, 12 Pro – 3.png" alt="">
            <!-- <div class="gamesBtmTxtArrow">
                <div class="gmeImgContnt">
                    <a>
                    <p>Bollywood Memory</p>
                    <img src="assets/img/img/threeArrow.webp" alt="">
                </a>
                </div>
            </div> -->
        </div> 
        <div class="gameArea" (click)="showTicTacToe()">
            <img src="assets\game_image\iPhone 12, 12 Pro – 4.png" alt="">
            <!-- <div class="gamesBtmTxtArrow">
                <div class="gmeImgContnt">
                    <a>
                    <p>Bollywood Memory</p>
                    <img src="assets/img/img/threeArrow.webp" alt="">
                </a>
                </div>
            </div> -->
        </div> 
          
    </div>
</div>
<div *ngIf="showquote">
    <app-quote-dialog [screen]='screen'></app-quote-dialog> 
</div>