<div class="main casting_inner workshop_innerProfile">
        <div class="mainHeader">
            <div class="top_header">
                <div class="arrowLeft">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </div>
                <div class="logo middle">
                    <img src="assets/img/img/black_logo.webp" alt="">
                </div>
                <div class="lats_side">
                    <div class="avtars">
                        <!-- <div class="avatar"> -->
                            <img src="assets/img/img/homeIcon.webp" alt="avatar" class="rounded">
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="main_wrppers casting__profiles">
            <div class="castingProfile">
                <h2>Walk in introduction in Bhopal</h2>
                <!-- <h3>Looking  for a Child Actor</h3> -->
                <p class="workShopInner">For all the actors out there in Bhopal, we are now open for walk-in introductions. <br>Time- 11:00am - 6:00pm. Monday - Saturday. <br>- C-3, BDA Complex, Bittan Market, Ravis hankar Nagar, Bhopal, Madhya Pradesh-462016.<br><br>The name and photo associated with your in App account will be recorded when you upload file and submit this form</p>

                <p><span>*</span> You can change your profile details in My Profile section</p>
                <div class="profileDetailsWrpper">
                    <div class="profileDiv">
                        <label>Name<span>*</span></label>
                        <p class="innerDetail">Aditya Pal</p>
                    </div>
                    <div class="profileDiv">
                        <label>Age<span>*</span></label>
                        <p class="innerDetail">42</p>
                    </div>
                    <div class="profileDiv">
                        <label>Sex<span>*</span></label>
                        <p class="innerDetail">Male</p>
                    </div>
                    <div class="profileDiv">
                        <label>Date of Birth<span>*</span></label>
                        <p class="innerDetail">25/03/1993</p>
                    </div>
                    <div class="profileDiv">
                        <label>Email Id<span>*</span></label>
                        <p class="innerDetail">aditya@gmail.com</p>
                    </div>
                    <div class="profileDiv">
                        <label>Contact Number<span>*</span></label>
                        <p class="innerDetail">+91 8425025713</p>
                    </div>
                    <div class="profileDiv">
                        <label>Secondary Contact<span>*</span></label>
                        <p class="innerDetail">+91 7208188101</p>
                    </div>
                    <div class="profileDiv">
                        <label>School/College<span>*</span></label>
                        <p class="innerDetail">Television Institute of India - Pune</p>
                    </div>
                    <div class="profileDiv">
                        <label>Address<span>*</span></label>
                        <p class="innerDetail">Kesar Plaza, Charkop Charkop Industrial...</p>
                    </div>
                    <div class="profileDiv">
                        <label>Current City<span>*</span></label>
                        <p class="innerDetail">Mumbai</p>
                    </div>
                    <div class="profileDiv">
                        <label>Adhaar Card<span>*</span></label>
                       <div class="inputFile">
                            <input type="file" id="upkoadAdhPan">
                            <label for="upkoadAdhPan">Upload Adhaar</label>
                            <div class="fileUpIcon">
                                <img src="assets/img/img/uploadFile.webp" alt="">
                            </div>
                       </div>
                    </div>

                    <div class="profileDiv uploadPan">
                        <label>Pan Card<span>*</span></label>
                       <div class="inputFile">
                            <input type="file" id="upkoadAdhPan">
                            <label for="upkoadAdhPan">Upload Pan</label>
                            <div class="fileUpIcon">
                                <img src="assets/img/img/uploadFile.webp" alt="">
                            </div>
                       </div>
                    </div>
                </div>

                <button class="btnss">Submit</button>
            </div>
        </div>
    </div>