<div class="wrrpperHomeScreen">
    <div class="logos">
      <img src="assets/img/white_logo.webp" alt="">
    </div>
    <div class="bottomContent">
      <h1><i class="fas fa-quote-left"></i> Just Act <i class="fas fa-quote-right"></i></h1>
      <p>Welcome Actors!,<br>We’re Now Successfully Featuring In Gujarati, Marathi, Punjabi, Tamil, Telugu, Kannada, Bhojpuri, Malayalam.</p>
      <a [routerLink]="['/splash']" class=""> <span><i>Get Started</i></span>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </a>
    </div>
  </div>