<div class="wrrpperHomeScreen">
  <!-- <div class="logo_wrapper">
    <div class="logos">
      <img src="assets/img/white_logo.webp" alt="">
    </div>
    <div class="bottomContent">
      <h1><i class="fas fa-quote-left"></i> Just Act <i class="fas fa-quote-right"></i></h1>
      <p>Welcome Actors!,<br>We’re Now Successfully Featuring In Gujarati, Marathi, Punjabi, Tamil, Telugu, Kannada, Bhojpuri, Malayalam.</p>
      <a [routerLink]="['/signin-signup']" class=""> <span><i>Get Started</i></span>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </a>
    </div>
  </div> -->
  <div class="logo_wrapper">
    <h1>“Just Act”</h1>
    <div class="logos">
      <img src="assets/img/white_logo.webp" alt="">
    </div>
    <div class="content_areas">
      <p>“If you are a good ACTOR,<br>
        a passport-size photo<br>
        is enough”</p>
        <label class='chabraName'>- Mukesh Chhabra</label>
        <a [routerLink]="['/signin-signup']" class="logoBtn"> <span><i>Get Started</i></span>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </a>
    </div>
  </div>
  <!-- <div class="logos">
    <img src="assets/img/white_logo.webp" alt="">
  </div>
  <div class="bottomContent">
    <a [routerLink]="['/signin-signup']" class=""style="margin: 0;
    padding: 0;
    border-radius: 0;
    border: initial;"><img src="../../assets/img/img/mccc-splash-screen.png" alt="" srcset=""></a>
  </div> -->
</div>