<div class="wrrpperRegisterForm successs thankyou_casting">
        <!-- <div class="heading">
            <div class="arrowLeft">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </div>
             <p>Create Password</p>
        </div> -->
        <div class="imgContent" style="height: calc(80vh - 100px)!important;">
            <div class="imgs">
                <img src="assets/img/img/succes.webp" alt="">
            </div>
            <div class="ctnt">
                <h4>Thank You!</h4>
                <p>Your Submission has been<br>received</p>
            </div>
        </div>
        
        <!-- <ngx-slick-carousel class="carousel slick_sliders thank_you_slider" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">                
        <div ngxSlickItem *ngFor="let slide of slides" class="banner thank_sliders main_banner" style="min-height: 132px;">
         <div class="banner_content">
            <p><i class="fas fa-quote-left"></i>{{slide.des}}<i class="fas fa-quote-right"></i></p> 
        </div>
        </div>        
      </ngx-slick-carousel> -->
        <div class="btnArea">
            <button [routerLink]="['/home']" class="next btnss_r ripple">Let's Explore!</button>
        </div>
        <!-- <div *ngIf="showquote">
            <app-quote-dialog [screen]='screen'></app-quote-dialog> 
        </div> -->
    </div>
