<div class="wrrpperRegisterForm successs thankyou_casting">
        <!-- <div class="heading">
            <div class="arrowLeft">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </div>
             <p>Create Password</p>
        </div> -->
        <div class="imgContent">
            <div class="imgs">
                <img src="assets/img/img/succes.webp" alt="">
            </div>
            <div class="ctnt">
                <h4>Thank You!</h4>
                <p>Your Submission has been<br>received</p>
            </div>
        </div>
        <div class="btnArea">
            <button class="next">Let's Explore</button>
        </div>
    </div>
