<div class="wrrpperRegisterForm successs finalSuccess">
    <app-top-header-bt [back]="back_link" [title]="component_title"></app-top-header-bt>
    <div class="imgContent">
        <div class="imgs">
            <img src="assets/img/img/succes.webp" alt="">
        </div>
        <div class="ctnt">
            <h4>Awesome!</h4>
            <p>Your Profile looks, ready to look<br>
                around.</p>
        </div>
    </div>
    <div class="btnArea">
        <!-- <p class="btn_ctnt">Take a few minutes to complete your Profile</p> -->
        <button class="next" [routerLink]="['/home']">Discover</button>
    </div>
</div>