<div class="wrrpperRegisterForm passwords forgot_password">    
    <app-top-header-bt [back]="back_link" [title]="component_title"></app-top-header-bt>
    <div class="forms">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="formGroup">
                <label>Your Email Id or Phone *</label>
                <div class="inputs">
                    <input autocomplete="off" formControlName="email_or_mobile" type="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email_or_mobile.errors }">
                    <div *ngIf="submitted && f.email_or_mobile.errors" class="invalid-feedback">
                        <div *ngIf="f.email_or_mobile.errors.required">Email or Phone is required</div> 
                        <div *ngIf="f.email_or_mobile.errors.emailTaken">Email is already taken.</div>
                        <div *ngIf="f.email_or_mobile.errors.pattern">Email must be a valid email address.</div>
                        <div *ngIf="f.email_or_mobile.errors.userNotExit">Email does not exists!</div>
                      </div> 
                      <div class="invalid-feedback error" style="display: block;" *ngIf="f.email_or_mobile.errors?.serverError">{{ f.email_or_mobile.errors?.serverError }}</div>                
                </div>
            </div>
            <button class="next btnss_r ripple">Next</button>
        </form>
    </div>
</div>