<app-sidebars></app-sidebars>
<app-footer></app-footer>
<div class="main">
    <div class="main_wrppers">
        <div class="casting training">
        <app-header></app-header>
        
        <div class="main_wrppers trainingWrapper">
            <div class="trainngSlider">
                <div class="traning_slide">
                    <img src="assets/img/img/trainingSlideImg.webp" alt="">
                </div>
                <div class="traning_slide">
                    <img src="assets/img/img/trainingSlideImg.webp" alt="">
                </div>
                <div class="traning_slide">
                    <img src="assets/img/img/trainingSlideImg.webp" alt="">
                </div>
            </div>
            <div class="otherTrainingVid">
                <div class="trainingCallHeader">
                    <p class="classinghead primary__color">Training with Mukesh Chhabra</p>
                </div>
                <div class="videosWithContnt">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    <div class="imgPlayIcon">
                        <img src="assets/img/img/trainingVideImg.webp" alt="">
                        <div class="btsPlay_icon">
                            <img src="assets/img/img/play_icon.webp" alt="">
                        </div>
                    </div>
                </div>
                <div class="videosWithContnt">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    <div class="imgPlayIcon">
                        <img src="assets/img/img/trainingVideImg.webp" alt="">
                        <div class="btsPlay_icon">
                            <img src="assets/img/img/play_icon.webp" alt="">
                        </div>
                    </div>
                </div>
                <div class="videosWithContnt">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    <div class="imgPlayIcon">
                        <img src="assets/img/img/trainingVideImg.webp" alt="">
                        <div class="btsPlay_icon">
                            <img src="assets/img/img/play_icon.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<script>
    $('.trainngSlider').slick({
    fade:false,
    dots:false,
    arrows:false,
    // initialSlides: 0.5,
    slidesToShow:2,
    slidesToScroll:1
  });
    </script>