<app-sidebars></app-sidebars>
<app-footer></app-footer>
<div class="main">
    <div class="main_wrppers traingsss">
        <div class="casting training">
        <app-header></app-header>
        
        <div class="main_wrppers trainingWrapper">
            <div class="trainngSlider">
                
                <ngx-slick-carousel class="carousel slick_sliders" #slickModal="slick-carousel" [config]="two_sliders"
                    (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem  *ngFor="let data of trainCatg; let i=index;"  class="btsSlioder">
                        <img src="assets/img/img/trainingSlideImg.webp" (click)="changeCat(data.id,data.title)" alt="">
                    </div>        
                </ngx-slick-carousel>
                
            </div>
            <div class="otherTrainingVid">
                <div class="trainingCallHeader">
                    <p class="classinghead primary__color">{{title}}</p>
                </div>
                <div class="videosWithContnt" *ngFor="let vid of trainingVideo">
                    <p>{{vid.description}}</p>
                    <div class="imgPlayIcon" [routerLink]="['/training-video-view/',vid.id,vid.category_id]">
                        <img src="{{vid.youtube_thumbnail}}" alt="">
                        <div class="btsPlay_icon">
                            <img src="assets/img/img/play_icon.webp" alt="">
                        </div>
                    </div>
                </div>
                
                <div *ngIf="trainingVideo == '' ">
                    <app-not-found-data ></app-not-found-data>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
