<div class="main casting_inner movies_wrrpersss">
    <app-sub-header [back]="back_link"></app-sub-header>

    <div class="movies_areas">
        <div class="section full mt-1">
            <div class="casingCalls">                            
                <div class="casingCallHeader">
                    <p class="classinghead">Previous Web Series</p>
                </div>
            </div>
            <div class="movies_tab_wrppers">
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/tabbar.png" alt="">
                    <div class="content_area">
                        <p>Tabbar </p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/familyman.png" alt="">
                    <div class="content_area">
                        <p>The Family Man (Season 2)</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/maharani.png" alt="">
                    <div class="content_area">
                        <p>Maharani</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/ajebdastan.png" alt="">
                    <div class="content_area">
                        <p>Ajeeb Daastaans</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/worldOfAray.png" alt="">
                    <div class="content_area">
                        <p>Aranyak</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/lahore.png" alt="">
                    <div class="content_area">
                        <p>Lahore Confidential</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/katmandu.png" alt="">
                    <div class="content_area">
                        <p>Kathmandu Connection</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/grahan.png" alt="">
                    <div class="content_area">
                        <p>Grahan</p>
                    </div>
                </div>
                <div class="moives_area">
                    <img src="../../assets/img/img/movie/whistelebol.png" alt="">
                    <div class="content_area">
                        <p>Whistleblower</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
