<div class="main casting_inner movies_wrrpersss">
    <app-sub-header [back]="back_link"></app-sub-header>

    <div class="movies_areas">
        <div class="section full mt-1">
            <div class="casingCalls">                            
                <div class="casingCallHeader">
                    <p class="classinghead">Previous Movies</p>
                </div>
            </div>
            <div class="movies_tab_wrppers">
                <a href="https://youtu.be/QHdkC6Kn0Io" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/83.png" alt="">
                        <div class="content_area">
                            <p>83 </p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/mOBqu1z5mn8" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/tadap.png" alt="">
                        <div class="content_area">
                            <p>Tadap</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/tiIF4GqinEU" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/chandhigarh_kare_ashiqui.png" alt="">
                        <div class="content_area">
                            <p>Chandigarh kare Aashiqui</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/x3oMm5JGXZM" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/atrangi.png" alt="">
                        <div class="content_area">
                            <p>Atrangi Re</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/5Etb02FzW7o" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/bob_biswas.png" alt="">
                        <div class="content_area">
                            <p>Bob Biswas</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/lt_bDfnXKGM" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/haseenDilruba.png" alt="">
                        <div class="content_area">
                            <p>Haseen Dilruba</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/qnCE93OtGtQ" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/hathi_mere_sathi.png" alt="">
                        <div class="content_area">
                            <p>Haathi Mere Saathi</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/lKW0PuVIL9w" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/thalaivi.png" alt="">
                        <div class="content_area">
                            <p>Thalaivii</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/xusOfNnHzM0" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/sanak.png" alt="">
                        <div class="content_area">
                            <p>Sanak</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/n5MVzhwupBY" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/radhe.png" alt="">
                        <div class="content_area">
                            <p>Radhe</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/XFKz1DACGdE" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/antim.png" alt="">
                        <div class="content_area">
                            <p>Antim</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/DYxbNLcC3eA" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/99_songs.png" alt="">
                        <div class="content_area">
                            <p>99 Songs</p>
                        </div>
                    </div>
                </a>
                <a href="https://youtu.be/55XTHZtWtH4" target="_blank">
                    <div class="moives_area">
                        <img src="../../assets/img/img/movie/saina.png" alt="">
                        <div class="content_area">
                            <p>Saina</p>
                        </div>
                    </div> 
                </a>               
            </div>
        </div>
    </div>
</div>
