<div class="wrrpperRegisterForm successs">
    <!-- <app-top-header-bt [back]="back_link" [title]="component_title"></app-top-header-bt> -->
        <div class="imgContent">
            <div class="imgs">
                <img src="assets/img/img/succes.webp" alt="">
            </div>
            <div class="ctnt">
                <h4>Success!</h4>
                <p>Registration process has been<br>
                    completed successfully</p>
            </div>
        </div>
        <div class="btnArea">
            <p class="btn_ctnt">Take a few minutes to complete your Profile</p>
            <button class="next btnss_r ripple" (click)="completeYourProfile()">Proceed</button>
        </div>
    </div>