
 
<app-sidebars></app-sidebars>
<app-footer></app-footer>
    
    <div class=" main casting bts bts_mains">
        <div class="bottomHeader">
            <app-header></app-header>
        </div>
        <div class="main_wrppers">
            <div class="casingCalls">
                <div class="casingCallHeader">
                    <p class="classinghead recomded">Popular BTS</p>
                    <span><a [routerLink]="['/bts-inner/1']">View All</a></span>
                </div>
                <div class="bts_popular_slider bts_popular_sliderSecond">
                    <app-bts-card  [data]="popularBtsVideos"></app-bts-card>  
                </div>
            </div>
            <div class="casingCalls" *ngIf="topBTSV">
                <div class="casingCallHeader">
                    <p class="classinghead primary__color recomded">Top BTS</p>
                    <span><a [routerLink]="['/bts-inner/2']">View All</a></span>
                </div>
                <div class="bts_popular_slider bts_popular_sliderSecond">
                    <app-bts-card  [data]="topBtsVideos"></app-bts-card>  
                </div>
            </div>
            <div class="casingCalls">
                <div class="casingCallHeader">
                    <p class="classinghead recomded secondary__color">Watch more videos</p>
                </div>
                <div class="moresliderVideos">
                    <app-bts-category-card  [data]="categories"></app-bts-category-card>
                    </div>
                
            </div>
        </div>
    
</div>