<div class="wrrpperRegisterForm completeProfile">
    <div class="heading sticky">
        <p>{{component_title}}</p>
        <div class="lats_side">
            <a [routerLink]="['/home']">Skip</a>
        </div>
    </div>
    <!-- <app-top-header-bt [back]="back_link" [title]="component_title"></app-top-header-bt> -->
    <div class="forms">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="forms_input">     
             <app-select-your-gender [parent]="form" [submit]="submitted"></app-select-your-gender>
            <app-date-of-birth [parent]="form" [submit]="submitted"></app-date-of-birth>
            <app-your-country-state-city [parent]="form" [submit]="submitted"></app-your-country-state-city>
            <div class="formGroup">
                <label>Home Town* <ion-icon name="information-circle-outline" placement="top" ngbTooltip="Tooltip on top"></ion-icon></label>
                <div class="inputs">
                    <input autocomplete="off" formControlName="home_town" type="text"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.home_town.errors }">
                    <div *ngIf="submitted && f.home_town.errors" class="invalid-feedback">
                        <div *ngIf="f.home_town.errors.required">Home town is required</div> 
                      </div>
                    </div>
            </div>   
            <div class="formGroup">
                <label><img src="assets/img/img/height.webp" alt="">  Height <span>(e.g.5.8) *</span></label>
                <div class="inputs">
                    <input type="tel" class="form-control" formControlName="height" maxlength="5" [ngClass]="{ 'is-invalid': submitted && f.height.errors }">
                    <div *ngIf="submitted && f.height.errors" class="invalid-feedback">
                        <div *ngIf="f.height.errors.required">Height is required</div>
                        <div *ngIf="f.height.errors.pattern">Height must be numeric</div>
                    </div>
                </div>
            </div>
            <div class="addRemoveDivs work_experince">            
                <div class="group">
                    <div class="formGroup addRemoveDivss workExperince" formArrayName="work_experiences" *ngFor="let item of form.get('work_experiences')['controls']; let i = index;">                   
                        <label><img src="assets/img/img/work.webp" alt="">  Work Experience</label>
                        <div class="withIcon"  [formGroupName]="i">                        
                            <div  class="inputs">
                                <input type="text" formControlName="experience" maxlength="200" [ngClass]="{ 'is-invalid': submitted && f.work_experiences.errors }">
                            </div>  
                            <div class="plus_icon_workWxperince">
                                <span  *ngIf="i == 0" (click)="addExperience()">
                                    <img src="assets/img/img/plus.webp" alt="" class="lightMode">
                                    <img src="assets/img/img/white_plus.webp" class="darkMode" alt="">
                                </span>
                                <span *ngIf="i > 0"(click)="removeExperience(i)">
                                    <img src="assets/img/img/minus.webp" class="lightMode" alt="">
                                    <img src="assets/img/img/white_minus.webp" class="darkMode" alt="">
                                </span>
                                
                            </div>                              
                            <div *ngIf="submitted && f.work_experiences.errors" class="invalid-feedback">
                                <div *ngIf="f.work_experiences.errors.required">Worke experience experience is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="addRemoveDivs qaulifications">
                <div class="group">
                    <div class="formGroup addRemoveDivss qaulificationss" formArrayName="qualifications" *ngFor="let item of form.get('qualifications')['controls']; let j = index;">
                        <label><img src="assets/img/img/qualification.webp" alt=""> Qualification</label>
                        <div class="withIcon" [formGroupName]="j">
                            <div class="inputs">
                                <input type="text" formControlName="qualification" maxlength="200" [ngClass]="{ 'is-invalid': submitted && f.qualifications.errors }">
                            </div>
                            <div class="plus_icon_qualificationsPlus">
                                <span  *ngIf="j == 0" (click)="addQualification()">
                                    <img src="assets/img/img/plus.webp" alt="" class="lightMode">
                                    <img src="assets/img/img/white_plus.webp" class="darkMode" alt="">
                                </span>
                                <span *ngIf="j > 0" (click)="removeQualification(j)">
                                    <img src="assets/img/img/minus.webp" class="lightMode" alt="">
                                    <img src="assets/img/img/white_minus.webp" class="darkMode" alt="">
                                </span>
                                
                            </div>
                            <div *ngIf="submitted && f.qualifications.errors" class="invalid-feedback">
                                <div *ngIf="f.qualifications.errors.required">Qualificaton is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="formGroup">
                <label> <img src="assets/img/img/languages.webp" alt=""> Languages you know*</label>
                <div class="select">
                    <select class="form-control"  formControlName="language_id" multiple [ngClass]="{ 'is-invalid': submitted && f.language_id.errors }">
                        <option *ngFor="let language of languages;" value="{{language.id}}">{{language.name}}</option>
                    </select>
                    <div *ngIf="submitted && f.language_id.errors" class="invalid-feedback">
                        <div *ngIf="f.language_id.errors.required">Language is required</div>
                    </div>
                </div>
            </div>
            <div class="addRemoveDivs SocailLinks">
                <div class="group">
                    <div class="formGroup addRemoveDivss SocailLinkss" formArrayName="social_links" *ngFor="let item of form.get('social_links')['controls']; let i = index;">
                        <label><img src="assets/img/img/social_link.webp" alt="">  Social links /  Video links</label>
                        <div class="withIcon" [formGroupName]="i">
                            <div class="inputs">
                                <input type="text" formControlName="social_link" maxlength="200"  [ngClass]="{ 'is-invalid': submitted && f.social_links.errors }">
                            </div>
                            <div class="plus_icon_SocailLinks">
                                <span  *ngIf="i == 0" (click)="addSocialLinks()">
                                    <img src="assets/img/img/plus.webp" alt="" class="lightMode">
                                    <img src="assets/img/img/white_plus.webp" class="darkMode" alt="">
                                </span>
                                <span *ngIf="i > 0"(click)="removeSocialLinks(i)">
                                    <img src="assets/img/img/minus.webp" class="lightMode" alt="">
                                    <img src="assets/img/img/white_minus.webp" class="darkMode" alt="">
                                </span>
                                
                            </div>
                            <div *ngIf="submitted && f.social_links.errors" class="invalid-feedback">
                                <div *ngIf="f.social_links.errors.required">Social link is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
        <div class="btnArea iwdl" style="height: auto;">
            <button class="next btnss_r ripple">Next</button>
            <span [routerLink]="['/home']">I will do it later</span>
        </div>
    </form>
</div>
</div>