<bdc-walk-dialog #dialogWelcome class="modal_steps" name="dialogWelcome" width="650px">
    <h1>Welcome to MCCC!</h1>  
    <mat-dialog-content>
      <p>Let Us Give You A Tour</p>
    </mat-dialog-content>  
    <div class="buttons">
      <button (click)="dialogWelcome.close()" mat-raised-button color="primary">Let's Start</button>
    </div>
</bdc-walk-dialog>

<app-sidebars></app-sidebars>
<app-footer></app-footer>
<div class="main">
    <app-header [castingtab]="castingtab" [workshoptab]="workshoptab"></app-header>
    <div class="main_wrppers">  
        <!-- homeImg_banner_skeleton -->
        <div class="img_skeleton" *ngIf="!slideData"></div>      
        <ngx-slick-carousel class="carousel slick_sliders" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"  *ngIf="slideData">                
        <div ngxSlickItem *ngFor="let slide of slides" class="banner main_banner" style="min-height: 132px;">
          <img src="{{ baseUrl+slide.banner_image_path+slide.casting_banner_image }}" alt="">
          <div class="banner_content">
            <!--<h5>Casting Call</h5>
            <p>Lorem ipsum dolor sit<br>
                adipiscing elit, sed....</p>-->
        </div>
        </div>        
      </ngx-slick-carousel>
      <!-- box-skeleton -->
        <div *ngIf="!nonewcall && !loadingnc">
            <div class="header_skelton"></div>
            <div class="box_skeleton"></div>
        </div>
        <div class="casingCalls" *ngIf="!nonewcall">             
            <div class="casingCallHeader" *ngIf="loadingnc">
                <p class="classinghead">New Casting Call</p>
                <span><a [routerLink]="['/casting/1']">View All</a></span>
            </div>
             <!-- box-skeleton -->
            <div *ngIf="!loadingnc">
                <div class="box_skeleton"></div>
            </div>
            <div *ngIf="loadingnc"><app-casting-card *ngFor="let c of newCasting; let idx=index" [data]="c" [tab]="1"></app-casting-card></div>
            
        </div>    
        <!-- box-skeleton -->
        <div *ngIf="!norecomended && !loadingnr">
            <div class="header_skelton"></div>
            <div class="box_skeleton"></div>
        </div>    
        <div class="casingCalls" *ngIf="!norecomended">
            <div class="casingCallHeader" *ngIf="loadingnr">
                <p class="classinghead recomded primary__color">Recommended Calls</p>
                <span><a [routerLink]="['/casting/2']">View All</a></span>
            </div>
             <!-- box-skeleton -->
            <div *ngIf="!loadingnr">
                <div class="box_skeleton"></div>
            </div> 
            <div *ngIf="loadingnr">
                <app-casting-card *ngFor="let c of recomended; let idx=index" [data]="c" [tab]="2"></app-casting-card>
            </div>            
        </div>
        <div class="casingCalls" *ngIf="!upcomingNoData">
            <div class="casingCallHeader">
                <p class="classinghead">Upcoming Workshop</p>
                <span><a [routerLink]="['/workshop/2']">View All</a></span>
            </div>
            <div class="banner mb-5">
                <img src="assets/img/img/Mccc-banner.png" alt="">
            </div>
            <app-workshop-card *ngFor="let c of upcoming; let idx=index" [data]="c"></app-workshop-card>
        </div>
        <div class="casingCalls" *ngIf="!eventForYouNoData">
            <div class="casingCallHeader">
                <p class="classinghead recomded primary__color">Workshop for you</p>
                <span><a [routerLink]="['/workshop/3']">View All</a></span>
            </div>
            <app-workshop-card *ngFor="let c of eventForYouData; let idx=index" [data]="c"></app-workshop-card>
        </div>
        
        <div class="casingCalls" *ngIf="topBTSV">
            <div class="casingCallHeader">
                <p class="classinghead recomded">Behind The Scene</p>
                <span><a [routerLink]="['/bts-inner/2']">View All</a></span>
            </div>
            <div class="bts_popular_slider bts_popular_sliderSecond">                
                <ngx-slick-carousel class="carousel slick_sliders" #slickModal="slick-carousel" [config]="topBtsSlideConfig"
                    (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem  *ngFor="let vid of topBTSVideos; let i=index;"  class="btsSlioder">
                        <a [routerLink]="['/bts-video-view/',vid.id,1]">
                            <img *ngIf="vid.youtube_thumbnail == null " src="{{hostUrl}}{{vid.thumbnail_path}}{{vid.thumbnail}}">
                            <img *ngIf="vid.youtube_thumbnail != null " src="{{vid.youtube_thumbnail}}">
                            <div class="btsPlay_icon">
                                <img src="assets/img/img/play_icon.webp" alt="">
                            </div>
                        </a>
                    </div>        
                </ngx-slick-carousel>
            </div>
        </div>
        
        <div class="casingCalls">
            <div class="casingCallHeader">
                <p class="classinghead recomded">Popular BTS</p>
                <span><a [routerLink]="['/bts-inner/1']">View All</a></span>
            </div>
            <div class="bts_popular_slider bts_popular_sliderSecond">      
                <app-bts-card  [data]="popularBtsVideos"></app-bts-card>          
            </div>
        </div>
        
        <div class="casingCalls">
            <div class="casingCallHeader">
                <p class="classinghead recomded secondary__color">Watch more videos</p>
                <!-- <span><a>View All</a></span> -->
            </div>  
            <!-- circle-skeleton -->
            <div *ngIf="!loadingbts">            
                <div class="moreSlider">
                    <div class="more_slider_skeleton"></div>
                    <div class="more_slider_skeleton"></div>
                    <div class="more_slider_skeleton"></div>
                </div>
            </div>          
            <div class="moresliderVideos" *ngIf="loadingbts">
                <app-bts-category-card  [data]="categories"></app-bts-category-card>
            </div>
        </div>

        <div class="casingCalls">
            <div class="casingCallHeader">
                <p class="classinghead recomded secondary__color">View Exciting Shows On</p>
                <!-- <span><a>View All</a></span> -->
            </div>
            <div class="language_app">
                <div class="card_app">
                    <a href="https://play.google.com/store/apps/details?id=ahaflix.tv&hl=en&gl=US">
                        <div class="img_area">
                            <img src="../../../assets/img/img/aha.png" alt="">
                        </div>
                        <div class="content_area">
                            <P>Aha (Telugu)</P>
                        </div>
                    </a>
                </div>
                <div class="card_app">
                    <a href="https://play.google.com/store/apps/details?id=com.viewlift.hoichoi&hl=en_IN&gl=US">
                        <div class="img_area">
                            <img src="../../../assets/img/img/ohichoi.png" alt="">
                        </div>
                        <div class="content_area">
                            <P>Hoichoi (Bengali)</P>
                        </div>
                    </a>
                </div>
                <div class="card_app">
                    <a href="https://play.google.com/store/apps/details?id=com.cineman.oho&hl=en&gl=US">
                        <div class="img_area">
                            <img src="../../../assets/img/img/oho.png" alt="">
                        </div>
                        <div class="content_area">
                            <P>Oho (Gujarati)</P>
                        </div>
                    </a>
                </div>
                <div class="card_app">
                   <a href="https://play.google.com/store/apps/details?id=com.planetmarathi.android&hl=en&gl=US">
                    <div class="img_area">
                        <img src="../../../assets/img/img/planet_marathi.png" alt="">
                    </div>
                    <div class="content_area">
                        <P>Planet Marathi (Marathi)</P>
                    </div>
                   </a>
                </div>
            </div>
            <!-- ----skeleton -->
            <!-- <div class="app_areas">
                <div>
                    <div class="app_img_area"></div>
                    <div class="app_content_area"></div>
                </div>
                <div>
                    <div class="app_img_area"></div>
                    <div class="app_content_area"></div>
                </div>
                <div>
                    <div class="app_img_area"></div>
                    <div class="app_content_area"></div>
                </div>
                <div>
                    <div class="app_img_area"></div>
                    <div class="app_content_area"></div>
                </div>
            </div> -->
        </div>
    </div>
</div>