<div 
      class="game-square rounded-lg border bg-teal-lightest 
      shadow-md " 
      (click)="changePlayer()" 
      [ngClass]="{noClick: gameService.winner} "
    >
      <!-- <p class="text-grey-darker"> {{ square.state}} </p> -->
      <div class="face front" *ngIf="square.state == 'X'">
        <img src="assets/game_image/akshay.png" width="125px" height="161px">
    </div>
    <div class="face front" *ngIf="square.state == 'O'">
      <img src="assets/game_image/kriti.png" width="125px" height="161px">
  </div>
    </div>